= simple_form_for @ic_customer, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "ic_customer_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ic_customer, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version

    .control-group
      = f.label :customer_id, "*Customer ID", :class => 'control-label'
      = f.text_field :customer_id, :maxlength => 15
      #msg-error
        = error_message_for(@ic_customer, :customer_id, :prepend_text => "")

    .control-group
      = f.label :app_id, "*Application ID", :class => 'control-label'
      = f.text_field :app_id, :maxlength => 20
      #msg-error
        = error_message_for(@ic_customer, :app_id, :prepend_text => "")

    .control-group
      = f.label :identity_user_id, "*Identity User ID", :class => 'control-label'
      = f.text_field :identity_user_id, :maxlength => 20
      #msg-error
        = error_message_for(@ic_customer, :identity_user_id, :prepend_text => "")

    .control-group
      = f.label :repay_account_no, "*Repayment Account No", :class => 'control-label'
      = f.text_field :repay_account_no, :maxlength => 20
      #msg-error
        = error_message_for(@ic_customer, :repay_account_no, :prepend_text => "")

    .control-group
      = f.label :fee_pct, "Fee Percentage", :class => 'control-label'
      = f.text_field :fee_pct
      #msg-error
        = error_message_for(@ic_customer, :fee_pct, :prepend_text => "")

    .control-group
      = f.label :fee_income_gl, "*Fee Income Amount", :class => 'control-label'
      = f.text_field :fee_income_gl, :maxlength => 20
      #msg-error
        = error_message_for(@ic_customer, :fee_income_gl, :prepend_text => "")

    .control-group
      = f.label :max_overdue_pct, "*Maximum Overdue Percentage", :class => 'control-label'
      = f.text_field :max_overdue_pct, :maxlength => 20
      #msg-error
        = error_message_for(@ic_customer, :max_overdue_pct, :prepend_text => "")

    .control-group
      = f.label :cust_contact_email, "*Customer Email", :class => 'control-label'
      = f.text_field :cust_contact_email, :maxlength => 100
      #msg-error
        = error_message_for(@ic_customer, :cust_contact_email, :prepend_text => "")

    .control-group
      = f.label :cust_contact_mobile, "*Customer Mobile No", :class => 'control-label'
      = f.text_field :cust_contact_mobile, :maxlength => 10
      #msg-error
        = error_message_for(@ic_customer, :cust_contact_mobile, :prepend_text => "")

    .control-group
      = f.label :ops_email, "*Operations Email", :class => 'control-label'
      = f.text_field :ops_email, :maxlength => 100
      #msg-error
        = error_message_for(@ic_customer, :ops_email, :prepend_text => "")

    .control-group
      = f.label :rm_email, "*Relationship Manager Email", :class => 'control-label'
      = f.text_field :rm_email, :maxlength => 100
      #msg-error
        = error_message_for(@ic_customer, :rm_email, :prepend_text => "")

    .control-group
      = f.label :is_enabled, "*Enabled ?", :class => 'control-label'
      = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@ic_customer, :is_enabled, :prepend_text => "")

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_ic_customer', :value => label_name + ' Instant Credit Customer'
    = link_to :Cancel,'/ic_customers', :name => 'cancel', :class=>"cancel btn"

