%br
= link_to 'New Instant Credit Customer', new_ic_customer_path
%br
%br
%h1 Listing Instant Credit Customers
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@ic_customers_count}"
%br
= will_paginate @ic_customers
%br

%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Application ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Identity User ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Repayment Account No
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fee Percentage
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fee Income Account No
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Maximum Overdue Percentage
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Email
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Mobile No
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Operations Email
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Relationship Manager Email
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Enabled?

  .tbody
    - @ic_customers.each do |ic_customer|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ic_customer
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_ic_customer_path(ic_customer)
        %td{:style=>'text-align:left;'}
          = ic_customer.customer_id
        %td{:style=>'text-align:left;'}
          = ic_customer.customer_name
        %td{:style=>'text-align:left;'}
          = ic_customer.app_id
        %td{:style=>'text-align:left;'}
          = ic_customer.identity_user_id
        %td{:style=>'text-align:left;'}
          = ic_customer.repay_account_no
        %td{:style=>'text-align:left;'}
          = ic_customer.fee_pct
        %td{:style=>'text-align:left;'}
          = ic_customer.fee_income_gl
        %td{:style=>'text-align:left;'}
          = ic_customer.max_overdue_pct
        %td{:style=>'text-align:left;'}
          = ic_customer.cust_contact_email
        %td{:style=>'text-align:left;'}
          = ic_customer.cust_contact_mobile
        %td{:style=>'text-align:left;'}
          = ic_customer.ops_email
        %td{:style=>'text-align:left;'}
          = ic_customer.rm_email
        %td{:style=>'text-align:left;'}
          = ic_customer.is_enabled

