.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; height: 900px;'}
    #form-details
      %h3 Instant Credit Customer Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @ic_customer
        %a.btn{:href => "#{!(can) ? '#' : '/ic_customers/' + @ic_customer.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'approve', :@record => @ic_customer
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@ic_customer.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@ic_customer)}", :controller => :ic_customers, :action => :audit_logs, :version_id => audit_count(@ic_customer), :id => @ic_customer.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@ic_customer, :base, :prepend_text => "")
          %tr
            %td.label Customer ID
            %td.value
              = @ic_customer.customer_id
            %td#msg-error
              = error_message_for(@ic_customer, :customer_id, :prepend_text => "")
          %tr
            %td.label Customer Name
            %td.value
              = @ic_customer.customer_name
            %td#msg-error
              = error_message_for(@ic_customer, :customer_name, :prepend_text => "")
          %tr
            %td.label Application ID
            %td.value
              = @ic_customer.app_id
            %td#msg-error
              = error_message_for(@ic_customer, :app_id, :prepend_text => "")
          %tr
            %td.label Identity User ID
            %td.value
              = @ic_customer.identity_user_id
            %td#msg-error
              = error_message_for(@ic_customer, :identity_user_id, :prepend_text => "")
          %tr
            %td.label Repayment Account No
            %td.value
              = @ic_customer.repay_account_no
            %td#msg-error
              = error_message_for(@ic_customer, :repay_account_no, :prepend_text => "")
          %tr
            %td.label Fee Percentage
            %td.value
              = @ic_customer.fee_pct
            %td#msg-error
              = error_message_for(@ic_customer, :fee_pct, :prepend_text => "")
          %tr
            %td.label Fee Income Account No
            %td.value
              = @ic_customer.fee_income_gl
            %td#msg-error
              = error_message_for(@ic_customer, :fee_income_gl, :prepend_text => "")
          %tr
            %td.label Maximum Overdue Percentage
            %td.value
              = @ic_customer.max_overdue_pct
            %td#msg-error
              = error_message_for(@ic_customer, :max_overdue_pct, :prepend_text => "")
          %tr
            %td.label Customer Email
            %td.value
              = @ic_customer.cust_contact_email
            %td#msg-error
              = error_message_for(@ic_customer, :cust_contact_email, :prepend_text => "")
          %tr
            %td.label Customer Mobile No
            %td.value
              = @ic_customer.cust_contact_mobile
            %td#msg-error
              = error_message_for(@ic_customer, :cust_contact_mobile, :prepend_text => "")
          %tr
            %td.label Operations Email
            %td.value
              = @ic_customer.ops_email
            %td#msg-error
              = error_message_for(@ic_customer, :ops_email, :prepend_text => "")
          %tr
            %td.label Relationship Manager Email
            %td.value
              = @ic_customer.rm_email
            %td#msg-error
              = error_message_for(@ic_customer, :rm_email, :prepend_text => "")
          %tr
            %td.label Is Enabled?
            %td.value
              = @ic_customer.is_enabled
            %td#msg-error
              = error_message_for(@ic_customer, :is_enabled, :prepend_text => "")
          %tr
            %td.label Created By
            %td.value
              = @ic_customer.created_user.try(:username)
            %td#msg-error
              = error_message_for(@ic_customer, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @ic_customer.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@ic_customer, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @ic_customer.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@ic_customer, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @ic_customer.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@ic_customer, :updated_at, :prepend_text => "")
