= simple_form_for @bm_app, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "bm_app_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@bm_app, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :app_id, "*App ID", :class => 'control-label'
      = f.text_field :app_id, :maxlength => 20
      #msg-error
        = error_message_for(@bm_app, :app_id, :prepend_text => "")
    .control-group
      = f.label :channel_id, "*Channel ID", :class => 'control-label'
      = f.text_field :channel_id, :maxlength => 20
      #msg-error
        = error_message_for(@bm_app, :channel_id, :prepend_text => "")
    .control-group
      = f.label :needs_otp, "*Needs OTP?", :class => 'control-label'
      = f.check_box :needs_otp, {},"Y","N"
      #msg-error
        = error_message_for(@bm_app, :needs_otp, :prepend_text => "")
    .control-group
      = f.label :is_configuration_global, "Is Configuration Global?", :class => 'control-label'
      = f.check_box :is_configuration_global, {},"Y","N"
      #msg-error
        = error_message_for(@bm_app, :is_configuration_global, :prepend_text => "")
    .control-group
      = f.label :flex_user_id, "Flex User Id", :class => 'control-label', :id => "flex_user_id_lbl"
      = f.text_field :flex_user_id, :maxlength => 50
      #msg-error
        = error_message_for(@bm_app, :flex_user_id, :prepend_text => "")
    .control-group
      = f.label :flex_narrative_prefix, "Flex Narrative Prefix", :class => 'control-label', :id => "flex_narrative_prefix_lbl"
      = f.text_field :flex_narrative_prefix, :maxlength => 50
      #msg-error
        = error_message_for(@bm_app, :flex_narrative_prefix, :prepend_text => "")

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_bm_app', :value => label_name + ' BM App'
    = link_to :Cancel,'/bm_apps', :name => 'cancel', :class=>"cancel btn"