- m = build_menu(group)
- service = sc_service rescue nil
- unless m.nil?
  %h1 #{m[:name]}
  .slide-container
    - unless m[:common_items].empty?
      - if m[:common_items].include?(:incoming_file)
        .box
          = link_to incoming_files_path(:sc_service => service) do
            = image_tag 'upload.png', :size => "80x80"
          %br
            = "File Uploads"
      - if m[:common_items].include?(:outgoing_file)
        .box
          = link_to outgoing_files_path(:sc_service => service) do
            = image_tag 'outgoing_file.png', :size => "80x80"
          %br
            = "Outgoing Files"
      - if m[:common_items].include?(:csv_export)
        .box
          = link_to csv_exports_path(group: m[:name]) do
            = image_tag 'csv_export.png', :size => "80x80"
          %br
            = "Csv Exports"
    - if respond_to?("#{group}_unapproved_records_path", sc_service: service)
      .box
        = link_to send("#{group}_unapproved_records_path") do
          = image_tag 'work-list.jpg', :size => "80x80"
        %br
        = "Approval Worklist"
    - else
      .box
        = link_to unapproved_records_path(group_name: m[:group], sc_service: service) do
          = image_tag 'work-list.jpg', :size => "80x80"
        %br
        = "Approval Worklist"
  .slide-container
    - m[:items].each do |i|
      .box
        = link_to i[:link_to] do
          = image_tag i[:image_tag], :size => i[:size]
        %br
          = i[:name]