%br
- if @current_user.group_names.include?("inward-remittance")
  %h1 Inward Remittance
  .slide-container
    .box
      = link_to '/inward_remittances' do
        = image_tag 'remittance.jpeg', :size => "80x80"
      %br
        = "Inward Remittance"
    .box
      = link_to '/sdn/search' do
        = image_tag 'aml.jpeg', :size => "80x80"
      %br
        = "AML Search"
    .box  
      = link_to '/inw_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/partners' do
        = image_tag 'partner.png', :size => "80x80"
      %br
        = "Partners"
    .box
      = link_to '/purpose_codes' do
        = image_tag 'purpose_code.gif', :size => "80x80"
      %br
        = "Purpose Codes"
    .box
      - if !InwRemittanceRule.first.nil?
        = link_to edit_inw_remittance_rule_path(InwRemittanceRule.first) do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Inward Remittance Rules"
      - else
        = link_to inw_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Inward Remittance Rules"
    .box
      = link_to '/banks' do
        = image_tag 'bank.jpeg', :size => "80x80"
      %br
        = "Banks"
    .box
      = link_to '/whitelisted_identities' do
        = image_tag 'white_list_icon.jpg', :size => "80x80"
      %br
        = "Whitelisted Identities"
- if @current_user.group_names.include?("e-collect")
  %h1 E-Collect
  .slide-container
    .box  
      = link_to '/incoming_files' do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to '/ecol_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      - if !EcolRule.first.nil?
        = link_to edit_ecol_rule_path(EcolRule.first) do
          = image_tag 'ecol_rule.png', :size => "80x80"
        %br
          = "E-Collect Rules"
      - else
        = link_to ecol_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "E-Collect Rules"
    .box
      = link_to '/ecol_customers' do
        = image_tag 'ecol_customer.gif', :size => "80x80"
      %br
        = "E-Collect Customers"
    .box
      = link_to '/ecol_remitters' do
        = image_tag 'ecol_remitter.jpeg', :size => "80x80"
      %br
        = "E-Collect Remitters"
    .box
      = link_to '/ecol_transactions' do
        = image_tag 'ecol_transactions.jpg', :size => "80x80"
      %br
        = "E-Collect Transactions"
    .box
      = link_to '/summary' do
        = image_tag 'txn_summary.png', :size => "80x80"
      %br
        = "E-Collect Transaction Summary"
    .box
      = link_to '/udf_attributes' do
        = image_tag 'udf_attribute.gif', :size => "80x80"
      %br
        = "UDF Attributes"
- if @current_user.group_names.include?("bill-management")
  %h1 Bill-Management
  .slide-container
    .box  
      = link_to '/bm_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      - if !BmRule.first.nil?
        = link_to edit_bm_rule_path(BmRule.first) do
          = image_tag 'bm_rule.png', :size => "80x80"
        %br
          = "Bill Payment Rules"
      - else
        = link_to bm_rule_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Bill Payment Rules"
    .box  
      = link_to '/bm_billers' do
        = image_tag 'biller_icon.jpg', :size => "80x80"
      %br
        = "Billers"
    .box  
      = link_to '/bm_bill_payments' do
        = image_tag 'bill-payment.jpeg', :size => "80x80"
      %br
        = "Bill Payments"
    .box
      = link_to '/bm_bill_payments_summary' do
        = image_tag 'txn_summary.png', :size => "80x80"
      %br
        = "Bill Payments Summary"
    .box
      = link_to '/bm_aggregator_payments' do
        = image_tag 'bm_aggregator_payment.png', :size => "80x80"
      %br
        = "Bill Payments Via Aggregator"
    .box
      = link_to '/bm_apps' do
        = image_tag 'bm_app_icon.png', :size => "80x80"
      %br
        = "BM Apps"
- if @current_user.group_names.include?("prepaid-card")
  %h1 Prepaid Card
  .slide-container
    .box  
      = link_to '/pc_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/pc_apps' do
        = image_tag 'pc_apps.png', :size => "80x80"
      %br
        = "PC Apps"
    .box  
      = link_to '/pc_fee_rules' do
        = image_tag 'pc_fee_rules.png', :size => "80x80"
      %br
        = "PC Fee Rules"
- if @current_user.group_names.include?("flex-proxy")
  %h1 Flex Proxy
  .slide-container
    .box  
      = link_to '/fp_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/fp_operations' do
        = image_tag 'fp_operations_icon.jpg', :size => "80x80"
      %br
        = "FP Operations"
