%br
- if @current_user.group_names.include?("inward-remittance")
  %h1 Inward Remittance
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "AML") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box
      = link_to '/inward_remittances' do
        = image_tag 'remittance.jpeg', :size => "80x80"
      %br
        = "Inward Remittance"
    .box
      = link_to '/sdn/search' do
        = image_tag 'aml.jpeg', :size => "80x80"
      %br
        = "AML Search"
    .box  
      = link_to '/inw_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/partners' do
        = image_tag 'partner.png', :size => "80x80"
      %br
        = "Partners"
    .box
      = link_to '/purpose_codes' do
        = image_tag 'purpose_code.gif', :size => "80x80"
      %br
        = "Purpose Codes"
    .box
      - if !InwRemittanceRule.first.nil?
        = link_to edit_inw_remittance_rule_path(InwRemittanceRule.first) do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Inward Remittance Rules"
      - else
        = link_to inw_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Inward Remittance Rules"
    .box
      = link_to '/banks' do
        = image_tag 'bank.jpeg', :size => "80x80"
      %br
        = "Banks"
    .box
      = link_to '/whitelisted_identities' do
        = image_tag 'white_list_icon.jpg', :size => "80x80"
      %br
        = "Whitelisted Identities"
- if @current_user.group_names.include?("e-collect")
  %h1 E-Collect
  .slide-container{:style=>"vertical-align: top;"}
    .box  
      = link_to incoming_files_path(:sc_service => "ECOL") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to outgoing_files_path(:sc_service => "ECOL") do
        = image_tag 'outgoing_file.png', :size => "80x80"
      %br
        = "Outgoing Files"
    .box  
      = link_to '/ecol_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container{:style=>"height: auto;"}
    .box
      - if !EcolRule.first.nil?
        = link_to edit_ecol_rule_path(EcolRule.first) do
          = image_tag 'ecol_rule.png', :size => "80x80"
        %br
          = "E-Collect Rules"
      - else
        = link_to ecol_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "E-Collect Rules"
    .box
      = link_to '/ecol_customers' do
        = image_tag 'ecol_customer.gif', :size => "80x80"
      %br
        = "E-Collect Customers"
    .box
      = link_to '/ecol_remitters' do
        = image_tag 'ecol_remitter.jpeg', :size => "80x80"
      %br
        = "E-Collect Remitters"
    .box
      = link_to '/ecol_transactions' do
        = image_tag 'ecol_transactions.jpg', :size => "80x80"
      %br
        = "E-Collect Transactions"
    .box
      = link_to '/summary' do
        = image_tag 'txn_summary.png', :size => "80x80"
      %br
        = "E-Collect Transaction Summary"
    .box
      = link_to '/udf_attributes' do
        = image_tag 'udf_attribute.gif', :size => "80x80"
      %br
        = "UDF Attributes"
    - if ENV['CONFIG_ENVIRONMENT'] == 'test'
      .box
        = link_to '/qg_ecol_todays_neft_txns' do
          = image_tag 'neft-icon.png', :size => "80x80"
        %br
          = "NEFT Transactions"
      .box
        = link_to '/qg_ecol_todays_rtgs_txns' do
          = image_tag 'rtgs-icon.jpg', :size => "80x80"
        %br
          = "RTGS Transactions"
      .box
        = link_to '/qg_ecol_todays_imps_txns' do
          = image_tag 'imps-icon.jpg', :size => "80x60"
        %br
          = "IMPS Transactions"
- if @current_user.group_names.include?("bill-management")
  %h1 Bill-Management
  .slide-container
    .box  
      = link_to '/bm_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
    .box
      = link_to csv_exports_path(group: "BillManagement") do
        = image_tag 'csv_export.png', :size => "80x80"
      %br
        = "Csv Exports"
  .slide-container
    .box
      - if !BmRule.first.nil?
        = link_to edit_bm_rule_path(BmRule.first) do
          = image_tag 'bm_rule.png', :size => "80x80"
        %br
          = "Bill Payment Rules"
      - else
        = link_to bm_rule_error_msg_path do
          = image_tag 'rules.jpeg', :size => "80x80"
        %br
          = "Bill Payment Rules"
    .box  
      = link_to '/bm_billers' do
        = image_tag 'biller_icon.jpg', :size => "80x80"
      %br
        = "Billers"
    .box  
      = link_to '/bm_bill_payments' do
        = image_tag 'bill-payment.jpeg', :size => "80x80"
      %br
        = "Bill Payments"
    .box
      = link_to '/bm_bill_payments_summary' do
        = image_tag 'txn_summary.png', :size => "80x80"
      %br
        = "Bill Payments Summary"
    .box
      = link_to '/bm_aggregator_payments' do
        = image_tag 'bm_aggregator_payment.png', :size => "80x80"
      %br
        = "Bill Payments Via Aggregator"
    .box
      = link_to '/bm_apps' do
        = image_tag 'bm_app_icon.png', :size => "80x80"
      %br
        = "BM Apps"
- if @current_user.group_names.include?("prepaid-card")
  %h1 Prepaid Card
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "PPC") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to '/pc_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/pc_programs' do
        = image_tag 'pc_programs.gif', :size => "80x80"
      %br
        = "PC Programs"
    .box  
      = link_to '/pc_products' do
        = image_tag 'prepaid-card-products.png', :size => "80x80"
      %br
        = "PC Products"
    .box  
      = link_to '/pc_apps' do
        = image_tag 'pc_apps.png', :size => "80x80"
      %br
        = "PC Apps"
    .box  
      = link_to '/pc_fee_rules' do
        = image_tag 'pc_fee_rules.png', :size => "80x80"
      %br
        = "PC Fee Rules"
- if @current_user.group_names.include?("flex-proxy")
  %h1 Flex Proxy
  .slide-container
    .box  
      = link_to '/fp_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/fp_operations' do
        = image_tag 'fp_operations_icon.jpg', :size => "80x80"
      %br
        = "FP Operations"
    .box  
      = link_to '/fp_auth_rules' do
        = image_tag 'ecol_customer.gif', :size => "80x80"
      %br
        = "FP Authorisation Rules"
- if @current_user.group_names.include?("imt")
  %h1 IMT
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "IMTSERVICE") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to outgoing_files_path(:sc_service => "IMTSERVICE") do
        = image_tag 'outgoing_file.png', :size => "80x80"
      %br
        = "Outgoing Files"
    .box  
      = link_to '/imt_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/imt_customers' do
        = image_tag 'ecol_customer.gif', :size => "80x80"
      %br
        = "IMT Customers"
    .box
      = link_to '/imt_transfers' do
        = image_tag 'ecol_transactions.jpg', :size => "80x80"
      %br
        = "IMT Transfers"
				
- if @current_user.group_names.include?("funds-transfer")
  %h1 Funds Transfer
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "FUNDSTRANSFER") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to '/ft_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/ft_purpose_codes' do
        = image_tag 'purpose_code.gif', :size => "80x80"
      %br
        = "Funds Transfer Purpose Codes"
    .box  
      = link_to '/funds_transfer_customers' do
        = image_tag 'ecol_customer.gif', :size => "80x80"
      %br
        = "Funds Transfer Customers"
    .box  
      = link_to '/ft_customer_accounts' do
        = image_tag 'sm_bank_accounts.jpg', :size => "80x80"
      %br
        = "Funds Transfer Customer Accounts"
    .box
      = link_to '/reconciled_returns' do
        = image_tag 'reconciled_returns.png', :size => "80x80"
      %br
        = "Reconciled Returns"

- if @current_user.group_names.include?("salary-upload")
  %h1 Salary Upload
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "SALARY") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box
      = link_to '/su_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/su_customers' do
        = image_tag 'su_customers_icon.png', :size => "80x80"
      %br
        = "Salary Upload Customers"

- if @current_user.group_names.include?("instant-credit")
  %h1 Instant Credit
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "INSTANTCREDIT") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box
      = link_to '/ic_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box  
      = link_to '/ic_customers' do
        = image_tag 'instant_credit_customers_icon.jpg', :size => "80x80"
      %br
        = "Instant Credit Customers"
    .box  
      = link_to '/ic_suppliers' do
        = image_tag 'instant_credit_suppliers_icon.png', :size => "80x80"
      %br
        = "Instant Credit Suppliers"
    .box  
      = link_to '/ic_invoices' do
        = image_tag 'instant_credit_invoices_icon.png', :size => "80x80"
      %br
        = "Instant Credit Invoices"

- if @current_user.group_names.include?("prepaid-card2")
  %h1 Prepaid Card2
  .slide-container
    .box  
      = link_to '/pc2_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/pc2_apps' do
        = image_tag 'pc_apps.png', :size => "80x80"
      %br
        = "PC2 Apps"

- if @current_user.group_names.include?("smb")
  %h1 Sub Member Bank
  .slide-container
    .box  
      = link_to '/sm_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box{:style=>"margin-top: 2.2%;"}
      = link_to '/sm_banks' do
        = image_tag 'sm_banks.jpg', :size => "102x70", :style=>"padding-bottom: 4%;"
      %br
        = "Sub Member Banks"
    .box
      = link_to '/sm_bank_accounts' do
        = image_tag 'sm_bank_accounts.jpg', :size => "90x90"
      %br
        = "Sub Member Bank Accounts"
- if @current_user.group_names.include?("cnb")
  %h1 Corporate Net Banking
  .slide-container
    .box  
      = link_to incoming_files_path(:sc_service => "CNB") do
        = image_tag 'upload.png', :size => "80x80"
      %br
        = "File Uploads"
    .box  
      = link_to '/cn_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"

- if @current_user.group_names.include?("recurring-transfer")
  %h1 Recurring Transfer
  .slide-container
    .box  
      = link_to '/rc_transfer_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/rc_transfer_schedules' do
        = image_tag 'rc_transfer_schedule.png', :size => "80x80"
      %br
        = "Recurring Transfer Schedule"
    .box
      = link_to '/rc_transfers' do
        = image_tag 'rc_transfer.png', :size => "80x80"
      %br
        = "Recurring Transfers"

- if @current_user.group_names.include?("sc-backend")
  %h1 Service Center Backends
  .slide-container
    .box  
      = link_to '/sc_unapproved_records' do
        = image_tag 'work-list.jpg', :size => "80x80"
      %br
        = "Approval Worklist"
  .slide-container
    .box
      = link_to '/sc_backends' do
        = image_tag 'sc_backend.png', :size => "80x80"
      %br
        = "Service Center Backends"
- if @current_user.group_names.include?("rp")
  %h1 Reports
  .slide-container
    - unless Rp::Setting.first.nil?
      .box
        = link_to "/rp/settings/#{Rp::Setting.first.id}/edit" do
          = image_tag 'settings_icon.png', :size => "80x80"
        %br
          = "Setting"
    .box
      = link_to '/rp' do
        = image_tag 'available_report.png', :size => "80x80"
      %br
        = "Available Reports"
    .box
      = link_to '/rp/reports' do
        = image_tag 'reports_icon.png', :size => "80x80"
      %br
        = "Generated Reports"
        

