%br
.slide-container
  .box
    = link_to '/inward_remittances' do
      = image_tag 'remittance.jpeg', :size => "80x80"
    %br
      = "Inward Remittance"
  .box
    = link_to '/sdn/search' do
      = image_tag 'aml.jpeg', :size => "80x80"
    %br
      = "AML Search"
.slide-container
  .box
    = link_to '/partners' do
      = image_tag 'partner.png', :size => "80x80"
    %br
      = "Partner"
  .box
    = link_to '/purpose_codes' do
      = image_tag 'purpose_code.gif', :size => "80x80"
    %br
      = "Purpose Code"
  .box
    = link_to '/rules' do
      = image_tag 'rules.jpeg', :size => "80x80"
    %br
      = "Rules"
  / .box
  /   = link_to '/banks' do
  /     = image_tag 'bank.jpeg', :size => "80x80"
  /   %br
  /     = "Bank"