%br
%h1 Listing Whitelisted Identities
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@whitelisted_identities_count}"
%br
= will_paginate @whitelisted_identities
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Partner Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Number
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Id Country
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Id Issued Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Expiry Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Is Revoked ?
    %th{:style=>'text-align:left; background-color: lightblue;'}
  .tbody
    - @whitelisted_identities.each do |whitelisted_identity|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', whitelisted_identity
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.partner.try(:code)
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.full_name
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.id_type
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.id_number
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.id_country
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.id_issue_date
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.id_expiry_date
        %td{:style=>'text-align:left;'}
          = whitelisted_identity.is_revoked
        %td{:style=>'text-align:left;'}
          - if whitelisted_identity.approval_status == 'A'
            - if whitelisted_identity.is_revoked == "N"
              = link_to "Revoke", revoke_whitelisted_identity_path(whitelisted_identity), class: "btn btn-primary", method: :put
            - else
              = link_to "Ratify", ratify_whitelisted_identity_path(whitelisted_identity), class: "btn btn-primary", method: :put
