%br
%br
%h1 Listing E-Collect Apps
%br
= "Total Count: #{@ecol_apps_count}"
%br
= will_paginate @ecol_apps
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      App Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Validate URL
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Notify URL

  .tbody
    - @ecol_apps.each do |ecol_app|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ecol_app
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_ecol_app_path(ecol_app)
        %td{:style=>'text-align:left;'}
          = ecol_app.app_code
        %td{:style=>'text-align:left;'}
          = ecol_app.validate_url
        %td{:style=>'text-align:left;'}
          = ecol_app.notify_url
