= simple_form_for @imt_rule, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "imt_rule_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@imt_rule, :base, :prepend_text => "")
  .form-main{:style => 'width:100%'}
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :stl_gl_account, "*Settlement GL Account", :class => 'control-label'
      = f.text_field :stl_gl_account, :maxlength => 16
      #msg-error
        = error_message_for(@imt_rule, :stl_gl_account, :prepend_text => "")
    .control-group
      = f.label :chargeback_gl_account, "*Chargeback GL Account", :class => 'control-label'
      = f.text_field :chargeback_gl_account, :maxlength => 15
      #msg-error
        = error_message_for(@imt_rule, :chargeback_gl_account, :prepend_text => "")

  .form-actions
    - (f.object.new_record? and f.object.stl_gl_account.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_rule', :value => label_name + ' IMT Rule'
    = link_to :Cancel,root_path, :name => 'cancel', :class=>"cancel btn"

