.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 Biller Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @bm_biller
        %a.btn{:href => "#{!(can) ? '#' : '/bm_billers/' + @bm_biller.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'approve', :@record => @bm_biller
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@bm_biller.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@bm_biller)}", :controller => :bm_billers, :action => :audit_logs, :version_id => audit_count(@bm_biller), :id => @bm_biller.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@bm_biller, :base, :prepend_text => "")
          %tr
            %td.label Biller Code
            %td.value
              = @bm_biller.biller_code
            %td#msg-error
              = error_message_for(@bm_biller, :biller_code, :prepend_text => "")
          %tr
            %td.label Biller Name
            %td.value
              = @bm_biller.biller_name
            %td#msg-error
              = error_message_for(@bm_biller, :biller_name, :prepend_text => "")
          %tr
            %td.label Biller Category
            %td.value
              = @bm_biller.biller_category
            %td#msg-error
              = error_message_for(@bm_biller, :biller_category, :prepend_text => "")
          %tr
            %td.label Biller Location
            %td.value
              = @bm_biller.biller_location
            %td#msg-error
              = error_message_for(@bm_biller, :biller_location, :prepend_text => "")
          %tr
            %td.label Biller Type
            %td.value
              = @bm_biller.processing_method
            %td#msg-error
              = error_message_for(@bm_biller, :processing_method, :prepend_text => "")
          %tr
            %td.label Is Enabled?
            %td.value
              = @bm_biller.is_enabled
            %td#msg-error
              = error_message_for(@bm_biller, :is_enabled, :prepend_text => "")
          %tr
            %td.label No. Of Parameters
            %td.value
              = @bm_biller.num_params
            %td#msg-error
              = error_message_for(@bm_biller, :num_params, :prepend_text => "")
          %tr
            %td.label Parameter 1
            %td.label Name : 
            %td.value
              = @bm_biller.param1_name
            %td.label Pattern : 
            %td.value
              = @bm_biller.param1_pattern
            %td.label Tooltip : 
            %td.value
              = @bm_biller.param1_tooltip
          %tr
            %td.label Parameter 2
            %td.label Name : 
            %td.value
              = @bm_biller.param2_name
            %td.label Pattern : 
            %td.value
              = @bm_biller.param2_pattern
            %td.label Tooltip : 
            %td.value
              = @bm_biller.param2_tooltip
          %tr
            %td.label Parameter 3
            %td.label Name : 
            %td.value
              = @bm_biller.param3_name
            %td.label Pattern : 
            %td.value
              = @bm_biller.param3_pattern
            %td.label Tooltip : 
            %td.value
              = @bm_biller.param3_tooltip
          %tr
            %td.label Parameter 4
            %td.label Name : 
            %td.value
              = @bm_biller.param4_name
            %td.label Pattern : 
            %td.value
              = @bm_biller.param4_pattern
            %td.label Tooltip : 
            %td.value
              = @bm_biller.param4_tooltip
          %tr
            %td.label Parameter 5
            %td.label Name : 
            %td.value
              = @bm_biller.param5_name
            %td.label Pattern : 
            %td.value
              = @bm_biller.param5_pattern
            %td.label Tooltip : 
            %td.value
              = @bm_biller.param5_tooltip
          %tr
            %td.label Created By
            %td.value
              = @bm_biller.created_user.try(:username)
            %td#msg-error
              = error_message_for(@bm_biller, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @bm_biller.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@bm_biller, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @bm_biller.created_at
            %td#msg-error
              = error_message_for(@bm_biller, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @bm_biller.updated_at
            %td#msg-error
              = error_message_for(@bm_biller, :updated_at, :prepend_text => "")