%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = form_tag sc_backend_response_codes_path, :method => :put, :class => 'form-horizontal', :autocomplete=>"off", id: 'advanced_search' do
    .control-group
      = label_tag "SC Backend Code", "SC Backend Code", :class => 'control-label'
      = text_field_tag :sc_backend_code, params[:sc_backend_code]
    .control-group
      = label_tag "Response Code", "Response Code", :class => 'control-label'
      = text_field_tag :response_code, params[:response_code]

    = hidden_field_tag :page, params[:page] || 1

    .form-actions
      = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button",onclick: "$('#page').val(1)"
      = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

= advanced_search_page_links
