= simple_form_for @sc_backend_response_code, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "iam_cust_user_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@sc_backend_response_code, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :is_enabled, "Enabled?", :class => 'control-label'
      - if f.object.is_enabled.nil?
        = f.check_box :is_enabled, {:checked => "checked"},"Y","N"
      - else 
        = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@sc_backend_response_code, :is_enabled, :prepend_text => "")
    .control-group
      = f.label :sc_backend_code, "*SC Backend", :class => 'control-label'
      = f.select :sc_backend_code, ScBackend.all.map { |key, value| [key.code, key.code] }
      #msg-error
        = error_message_for(@sc_backend_response_code, :sc_backend_code, :prepend_text => "")
    .control-group
      = f.label :response_code, "*Response Code", :class => 'control-label'
      = f.text_field :response_code
      #msg-error
        = error_message_for(@sc_backend_response_code, :response_code, :prepend_text => "")
    .control-group
      = f.label :fault_code, "*Fault Code", :class => 'control-label'
      = f.text_field :fault_code
      %span#fault_reason
      #msg-error
        = error_message_for(@sc_backend_response_code, :fault_code, :prepend_text => "")

  .form-actions
    - (f.object.new_record? and f.object.sc_backend_code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_code', :value => label_name + ' Response Code'
    = link_to :Cancel,'/sc_backend_response_codes', :name => 'cancel', :class=>"cancel btn"