%br
= link_to "New SC Backend Response Code", new_sc_backend_response_code_path
%br
%br
%h1 Listing SC Backend Response Codes
= render :partial => 'advanced_search'
%br
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      SC Backend Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Enabled?
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Response Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fault Code
  .tbody
    - @records.each do |code|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', code
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_sc_backend_response_code_path(code)
        %td{:style=>'text-align:left;'}
          = code.sc_backend_code
        %td{:style=>'text-align:left;'}
          = code.is_enabled
        %td{:style=>'text-align:left;'}
          = code.response_code
        %td{:style=>'text-align:left;'}
          = code.fault_code