= simple_form_for @partner, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "partner_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@partner, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    .control-group
      = f.label :code
      = f.text_field :code
      #msg-error
        = error_message_for(@partner, :code, :prepend_text => "")
    .control-group
      = f.label :name
      = f.text_field :name
      #msg-error
        = error_message_for(@partner, :name, :prepend_text => "")
    .control-group
      = f.label :tech_email_id, "Tech Email", :class => 'control-label'
      = f.text_field :tech_email_id
      #msg-error
        = error_message_for(@partner, :tech_email_id, :prepend_text => "")
    .control-group
      = f.label :operations_email_id, "Operations Email Id", :class => 'control-label'
      = f.text_field :ops_email_id
      #msg-error
        = error_message_for(@partner, :ops_email_id, :prepend_text => "")
    .control-group
      = f.label :account_no
      = f.text_field :account_no
      #msg-error
        = error_message_for(@partner, :account_no, :prepend_text => "")
    .control-group
      = f.label :account_ifsc, "*Account IFSC", :class => 'control-label'
      = f.text_field :account_ifsc
      #msg-error
        = error_message_for(@partner, :account_ifsc, :prepend_text => "")
    .control-group
      = f.label :transaction_hold_period, "*Transaction hold period", :class => 'control-label'
      = f.number_field :txn_hold_period_days, min: 1
      #msg-error
        = error_message_for(@partner, :txn_hold_period_days, :prepend_text => "")
    .control-group
      = f.label "Identity User Id"
      = f.text_field :identity_user_id
      #msg-error
        = error_message_for(@partner, :identity_user_id, :prepend_text => "")
    .control-group
      = f.label :low_balance_alert_at
      = f.text_field :low_balance_alert_at
      #msg-error
        = error_message_for(@partner, :low_balance_alert_at, :prepend_text => "")
  .form-extended
    .control-group
      = f.label :remitter_sms_allowed, "Remitter SMS Allowed?", :class => 'control-label'
      = f.select :remitter_sms_allowed, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :remitter_sms_allowed, :prepend_text => "")
    .control-group
      = f.label :remitter_email_allowed, "Remitter Email Allowed?", :class => 'control-label'
      = f.select :remitter_email_allowed, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :remitter_email_allowed, :prepend_text => "")
    .control-group
      = f.label :benificiary_sms_allowed, "Beneficiary SMS Allowed?", :class => 'control-label'
      = f.select :beneficiary_sms_allowed, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :beneficiary_sms_allowed, :prepend_text => "")
    .control-group
      = f.label :beneficiary_email_allowed, "Beneficiary Email Allowed?", :class => 'control-label'
      = f.select :beneficiary_email_allowed, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :beneficiary_email_allowed, :prepend_text => "")
    .control-group
      = f.label :neft_allowd, "NEFT Allowed?", :class => 'control-label'
      = f.select :allow_neft, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :allow_neft, :prepend_text => "")
    .control-group
      = f.label :rtgs_allowed, "RTGS Allowed?", :class => 'control-label'
      = f.select :allow_rgts, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :allow_rgts, :prepend_text => "")
    .control-group
      = f.label :imps_allowed, "IMPS Allowed", :class => 'control-label'
      = f.select :allow_imps, [['Yes','Y'],['No','N']], :include_blank => "Select"
      #msg-error
        = error_message_for(@partner, :allow_imps, :prepend_text => "")
  .form-actions
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_partner'
    = link_to :Cancel,'/partners', :name => 'cancel', :class=>"cancel btn"

