.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 Partner Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        = link_to 'Edit', edit_partner_path
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
        - if !@partner.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@partner)}", :controller => :partners, :action => :audit_logs, :version_id => audit_count(@partner), :id => @partner.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@partner, :base, :prepend_text => "")
          %tr
            %td.label Code
            %td.value
              = @partner.code
            %td#msg-error
              = error_message_for(@partner, :code, :prepend_text => "")
          %tr
            %td.label Enabled ?
            %td.value
              = @partner.enabled
            %td#msg-error
              = error_message_for(@partner, :enabled, :prepend_text => "")
          %tr
            %td.label Name
            %td.value
              = @partner.name
            %td#msg-error
              = error_message_for(@partner, :name, :prepend_text => "")
          %tr
            %td.label Tech Email ID
            %td.value
              = @partner.tech_email_id
            %td#msg-error
              = error_message_for(@partner, :tech_email_id, :prepend_text => "")
          %tr
            %td.label Operations Email ID
            %td.value
              = @partner.ops_email_id
            %td#msg-error
              = error_message_for(@partner, :ops_email_id, :prepend_text => "")
          %tr
            %td.label Customer ID
            %td.value
              = @partner.customer_id
            %td#msg-error
              = error_message_for(@partner, :customer_id, :prepend_text => "")
          %tr
            %td.label Account No
            %td.value
              = @partner.account_no
            %td#msg-error
              = error_message_for(@partner, :account_no, :prepend_text => "")
          %tr
            %td.label Account IFSC
            %td.value
              = @partner.account_ifsc
            %td#msg-error
              = error_message_for(@partner, :account_ifsc, :prepend_text => "")
          %tr
            %td.label Transaction Hold Period Days
            %td.value
              = @partner.txn_hold_period_days
            %td#msg-error
              = error_message_for(@partner, :txn_hold_period_days, :prepend_text => "")
          %tr
            %td.label Low Balance Alert At
            %td.value
              = @partner.low_balance_alert_at
            %td#msg-error
              = error_message_for(@partner, :low_balance_alert_at, :prepend_text => "")
          %tr
            %td.label Remitter SMS Allowed? 
            %td.value
              = @partner.remitter_sms_allowed
            %td#msg-error
              = error_message_for(@partner, :remitter_sms_allowed, :prepend_text => "")
          %tr
            %td.label Remitter Email Allowed? 
            %td.value
              = @partner.remitter_email_allowed
            %td#msg-error
              = error_message_for(@partner, :remitter_email_allowed, :prepend_text => "")
          / %tr
          /   %td.label Beneficiary SMS Allowed? 
          /   %td.value
          /     = @partner.beneficiary_sms_allowed
          /   %td#msg-error
          /     = error_message_for(@partner, :beneficiary_sms_allowed, :prepend_text => "")
          / %tr
          /   %td.label Beneficiary Email Allowed?
          /   %td.value
          /     = @partner.beneficiary_email_allowed
          /   %td#msg-error
          /     = error_message_for(@partner, :bbeneficiary_email_allowed, :prepend_text => "")
          %tr
            %td.label NEFT Allowed?
            %td.value
              = @partner.allow_neft
            %td#msg-error
              = error_message_for(@partner, :allow_neft, :prepend_text => "")
          %tr
            %td.label RTGS Allowed?
            %td
              = @partner.allow_rtgs
            %td#msg-error
              = error_message_for(@partner, :allow_rtgs, :prepend_text => "")
          %tr
            %td.label IMPS Allowed?
            %td
              = @partner.allow_imps
            %td#msg-error
              = error_message_for(@partner, :allow_imps, :prepend_text => "")
          %tr
            %td.label MMID
            %td.value
              = @partner.mmid
            %td#msg-error
              = error_message_for(@partner, :mmid, :prepend_text => "")
          %tr
            %td.label Mobile No
            %td.value
              = @partner.mobile_no
            %td#msg-error
              = error_message_for(@partner, :mobile_no, :prepend_text => "")
          %tr
            %td.label Country
            %td.value
              = @partner.country_name
            %td#msg-error
              = error_message_for(@partner, :country, :prepend_text => "")
          %tr
            %td.label Address Line 1
            %td.value
              = @partner.address_line1
            %td#msg-error
              = error_message_for(@partner, :address_line1, :prepend_text => "")
          %tr
            %td.label Address Line 2
            %td.value
              = @partner.address_line2
            %td#msg-error
              = error_message_for(@partner, :address_line2, :prepend_text => "")
          %tr
            %td.label Address Line 3
            %td.value
              = @partner.address_line3
            %td#msg-error
              = error_message_for(@partner, :address_line3, :prepend_text => "")
      = link_to 'Back to partners', partners_path

      
