%br
- if pending_status(@ecol_transaction.status) 
  - state = find_pending_status(@ecol_transaction.status)
  = render :partial => 'retry_buttons', :locals => {:state => state}
- if approval_status(@ecol_transaction.status)
  - state = find_approval_status(@ecol_transaction.status)
  %a.btn{"data-toggle" => "modal", :href => "#{'#myModal'+state.to_s}", :role => "button", :class => "btn btn-primary"} APPROVE #{state}
  .modal.hide.fade{"id" => "myModal#{state}", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel  APPROVE #{state}
      #error_message{:style => 'color:red'}
    .modal-body
      = simple_form_for :ecol_transaction, :url => url_for(:action => 'approve_transaction', :controller => 'ecol_transactions'), :method=>:put, :html=>{} do |ef|
        = hidden_field_tag(:id, @ecol_transaction.id)
        = submit_tag "APPROVE #{state}", :class=>"btn btn-primary transition_button", :id => "transition_button"
- if @ecol_transaction.settle_status == "SETTLEMENT FAILED" 
  - state = "SETTLEMENT"
  = render :partial => 'retry_buttons', :locals => {:state => state}
- if @ecol_transaction.notify_status == "NOTIFICATION FAILED" 
  - state = "NOTIFICATION"
  = render :partial => 'retry_buttons', :locals => {:state => state}
- if @ecol_transaction.status == "VALIDATION FAILED" && @ecol_transaction.validation_status == "VALIDATION FAILED" && @ecol_transaction.pending_approval == 'Y'
  %a.btn{"data-toggle" => "modal", :href => "#myModalOverrideValidation", :role => "button", :class => "btn btn-primary"} OVERRIDE VALIDATION
  = render :partial => "override_form", :locals => {type: 'validation'}
- if @ecol_transaction.notify_status == "NOTIFICATION FAILED" && @ecol_transaction.pending_approval == 'Y'
  %a.btn{"data-toggle" => "modal", :href => "#myModalOverrideNotification", :role => "button", :class => "btn btn-primary"} OVERRIDE NOTIFICATION
  = render :partial => "override_form", :locals => {type: 'notification'}