= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Unique Ref No", "Unique Ref No", :class => 'control-label'
    = text_field_tag :transfer_unique_no, params[:transfer_unique_no]
  .control-group
    = label_tag "Customer Code", "Customer Code", :class => 'control-label'
    = text_field_tag :customer_code, params[:customer_code]
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    %input{:type => 'reset', :value=>'Reset', :class => 'btn'}

:javascript
  var in_advanced_search = true;
