= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Unique Ref No", "Unique Ref No", :class => 'control-label'
    = text_field_tag :transfer_unique_no, params[:transfer_unique_no]
  .control-group
    = label_tag "Customer Code", "Customer Code", :class => 'control-label'
    = text_field_tag :customer_code, params[:customer_code]
  .control-group
    = label_tag "Status", nil , :class => 'control-label'
    = select_tag :status, options_for_select([['NEW','NEW'],['PENDING VALIDATION','PENDING VALIDATION'],['VALIDATION FAILED','VALIDATION FAILED'],['PENDING CREDIT','PENDING CREDIT'],['PENDING RETURN','PENDING RETURN'],['CREDITED','CREDITED'],['RETURNED','RETURNED'],['CREDIT FAILED','CREDIT FAILED'],['RETURN FAILED','RETURN FAILED']],params[:status]),:prompt => 'ANY'
  .control-group
    = label_tag "Notification Status", nil , :class => 'control-label'
    = select_tag :notification_status, options_for_select([['PENDING NOTIFICATION','PENDING NOTIFICATION'],['NOTIFICATION FAILED','NOTIFICATION FAILED'],['NOTIFIED: OK','NOTIFIED: OK'],['NOTIFIED: REJECT','NOTIFIED: REJECT']],params[:notification_status]),:prompt => 'ANY'
  .control-group
    = label_tag "Validation Status", nil , :class => 'control-label'
    = select_tag :validation_status, options_for_select([['PENDING VALIDATION','PENDING VALIDATION'],['VALIDATION FAILED','VALIDATION FAILED'],['VALIDATION: OK','VALIDATION: OK'],['VALIDATION: REJECT','VALIDATION: REJECT']],params[:validation_status]),:prompt => 'ANY'
  .control-group
    = label_tag "Settlement Status", nil , :class => 'control-label'
    = select_tag :settle_status, options_for_select([['PENDING SETTLEMENT','PENDING SETTLEMENT'],['SETTLEMENT FAILED','SETTLEMENT FAILED'],['SETTLED','SETTLED']],params[:settle_status]),:prompt => 'ANY'
  .control-group
    = label_tag "Transfer Type", "Transfer Type" , :class => 'control-label'
    = select_tag :transfer_type, options_for_select([['NEFT','NEFT'],['RTGS','RTGS']],params[:transfer_type]),:prompt => 'ANY'
  .control-group
    = label_tag "Beneficiary Account Number", "Beneficiary Account Number" , :class => 'control-label'
    = text_field_tag :bene_account_no, params[:bene_account_no]
  .control-group
    = label_tag "Transfer Date", "Transfer Date", :class => 'control-label'
    = text_field_tag :from_date, params[:from_date]
    To
    = text_field_tag :to_date, params[:to_date]
  .control-group
    = label_tag "Transfer Amount", "Transfer Amount", :class => 'control-label'
    = text_field_tag :from_amount, params[:from_amount]
    To
    = text_field_tag :to_amount, params[:to_amount]
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'ecol_transaction_reset'

:javascript
  var in_advanced_search = true;
