= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Unique Ref No", "Unique Ref No", :class => 'control-label'
    = text_field_tag :transfer_unique_no, params[:transfer_unique_no]
  .control-group
    = label_tag "Customer Code", "Customer Code", :class => 'control-label'
    = text_field_tag :customer_code, params[:customer_code]
  .control-group
    = label_tag "Status", nil , :class => 'control-label'
    = select_tag :status, options_for_select([['NEW','NEW'],['PENDING CREDIT','PENDING CREDIT'],['PENDING RETURN','PENDING RETURN'],['CREDIT FAILED','CREDIT FAILED'],['RETURN FAILED','RETURN FAILED'],['CREDITED','CREDITED'],['RETURNED','RETURNED']],params[:status]),:prompt => 'ANY'
  .control-group
    = label_tag "Transfer Type", "Transfer Type" , :class => 'control-label'
    = select_tag :transfer_type, options_for_select([['NEFT','NEFT'],['RTGS','RTGS']],params[:transfer_type]),:prompt => 'ANY'
  .control-group
    = label_tag "Beneficiary Account Number", "Beneficiary Account Number" , :class => 'control-label'
    = text_field_tag :bene_account_no, params[:bene_account_no]
  .control-group
    = label_tag "Transfer Date", "Transfer Date", :class => 'control-label'
    = text_field_tag :from_transfer_date, params[:from_transfer_date]
    To
    = text_field_tag :to_transfer_date, params[:to_transfer_date]
  .control-group
    = label_tag "Transfer Amount", "Transfer Amount", :class => 'control-label'
    = text_field_tag :from_amount, params[:from_amount]
    To
    = text_field_tag :to_amount, params[:to_amount]
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    %input{:type => 'reset', :value=>'Reset', :class => 'btn'}

:javascript
  var in_advanced_search = true;
