- if type == 'validation'
  .modal.hide.fade{"id" => "myModalOverrideValidation", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Choose Status
    .modal-body
      = simple_form_for :ecol_transaction, :url => url_for(:action => 'override_transaction', :controller => 'ecol_transactions'), :method=>:put, :html=>{} do |ef|
        = select_tag :status, options_for_select([['VALIDATED: OK','VALIDATED: OK'],['VALIDATED: REJECTED','VALIDATED: REJECTED']],params[:status]),:prompt => 'ANY'
        %br
        = submit_tag "Submit", :class=>"btn btn-primary override_button", :id => "override_button"
- elsif type == 'notification'
  .modal.hide.fade{"id" => "myModalOverrideNotification", "aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Choose Status
    .modal-body
      = simple_form_for :ecol_transaction, :url => url_for(:action => 'override_transaction', :controller => 'ecol_transactions'), :method=>:put, :html=>{} do |ef|
        = select_tag :status, options_for_select([['NOTIFIED: OK','NOTIFIED: OK'],['NOTIFIED: REJECTED','NOTIFIED: REJECTED']],params[:status]),:prompt => 'ANY'
        %br
        = submit_tag "Submit", :class=>"btn btn-primary override_button", :id => "override_button"