%br
= link_to 'New E-Collect Transaction', new_ecol_transaction_path
%br
%br
%h1 Listing E-Collect transactions
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@ecol_transactions_count}"
%br
= will_paginate @ecol_transactions
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}  
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Transfer Type
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Unique Ref No
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Transfer Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Transfer Amount
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Sub Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Remitter Code 
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Transfer Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Validation Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Credit Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Return Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Do Credit
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Do Return
  .tbody
    - @ecol_transactions.each do |ecol_transaction|   
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ecol_transaction
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_ecol_transaction_path(ecol_transaction)
        %td{:style=>'text-align:left;'}
          = ecol_transaction.status
        %td{:style=>'text-align:left;'}
          = ecol_transaction.transfer_type
        %td{:style=>'text-align:left;'}
          = ecol_transaction.transfer_unique_no
        %td{:style=>'text-align:left;'}
          = ecol_transaction.transfer_date
        %td{:style=>'text-align:left;'}
          = ecol_transaction.transfer_amt
        %td{:style=>'text-align:left;'}
          = ecol_transaction.customer_code
        %td{:style=>'text-align:left;'}
          = ecol_transaction.customer_subcode
        %td{:style=>'text-align:left;'}
          = ecol_transaction.remitter_code
        %td{:style=>'text-align:left;'}
          = ecol_transaction.ecol_customer.try(:name)
        %td{:style=>'text-align:left;'}
          = ecol_transaction.transfer_status
        %td{:style=>'text-align:left;'}
          = ecol_transaction.validation_status
        %td{:style=>'text-align:left;'}
          = ecol_transaction.credit_status
        %td{:style=>'text-align:left;'}
          = ecol_transaction.return_status
        %td{:style=>'text-align:left;'}
          = ecol_transaction.do_credit
        %td{:style=>'text-align:left;'}
          = ecol_transaction.do_return
