.show_ticket
  .header-form-main{:style=>'background-color: #ecf5fa; width: 50%; display: inline-block;'}
    %h3
      Customer:
      = @ecol_transaction.customer_code 
      = link_to @ecol_transaction.ecol_customer.name , @ecol_transaction.ecol_customer  rescue "No Customer for Code #{@ecol_transaction.customer_code}" 
    %h3
      Transfer Unique No:
      = @ecol_transaction.transfer_unique_no
    %h3
      Received At:
      = @ecol_transaction.received_at.try(:strftime, "%d/%m/%Y %I:%M%p")
  .header-form-extended{:style=>'background-color: #ecf5fa; width: 50%; display: inline-block;'}
    %h3
      Status:
      = @ecol_transaction.status
      %tr
        - if @ecol_transaction.status == "FAILED"
          = link_to "Fault Text", "#", :class => 'fault-link', :href => "#faultText", :style => "font-weight:100"
    %h3 
      Remitter Reference No:
      = @ecol_transaction.rmtr_ref
    %h3
      Settled At:
      = @ecol_transaction.settled_at.try(:strftime, "%d/%m/%Y %I:%M%p")
      /= "(" + @ecol_transaction.settled_at.to_s + " mins)"
  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; display: inline-block;'}
    #ticket-details
      %h3 
        Validation Details:
        = link_to @ecol_transaction.validation_status, "#", :class => 'result-link', :href => "#resultText", :style => "font-weight:100"
      %table.table.no-border
        %tr
          %td.label Beneficiary Account Number
          %td= @ecol_transaction.bene_account_no
        %tr
          %td.label Customer Code 
          %td= @ecol_transaction.customer_code rescue "-" 
        %tr
          %td.label 
            Token 1 : 
            = show_page_value_for_account_tokens(@ecol_transaction.ecol_customer.token_1_type) rescue "-"
          %td
            - if !@ecol_transaction.ecol_customer.nil?
              - if @ecol_transaction.ecol_customer.token_1_type == 'SC'
                = @ecol_transaction.customer_subcode
              - elsif @ecol_transaction.ecol_customer.token_1_type == 'RC'
                = @ecol_transaction.remitter_code
              - elsif @ecol_transaction.ecol_customer.token_1_type == 'IN'
                = @ecol_transaction.invoice_no
            - else
              = "-"
          %td= "(#{@ecol_transaction.ecol_customer.val_token_1 rescue "-"})" 
        %tr
          %td.label 
            Token 2 : 
            = show_page_value_for_account_tokens(@ecol_transaction.ecol_customer.token_2_type) rescue "-"
          %td
            - if !@ecol_transaction.ecol_customer.nil?
              - if @ecol_transaction.ecol_customer.token_2_type == 'SC'
                = @ecol_transaction.customer_subcode
              - elsif @ecol_transaction.ecol_customer.token_2_type == 'RC'
                = @ecol_transaction.remitter_code
              - elsif @ecol_transaction.ecol_customer.token_2_type == 'IN'
                = @ecol_transaction.invoice_no
            - else
              = "-"
          %td= "(#{@ecol_transaction.ecol_customer.val_token_2 rescue "-"})" 
        %tr
          %td.label 
            Token 3 : 
            = show_page_value_for_account_tokens(@ecol_transaction.ecol_customer.token_3_type) rescue "-"
          %td
            - if !@ecol_transaction.ecol_customer.nil?
              - if @ecol_transaction.ecol_customer.token_3_type == 'SC'
                = @ecol_transaction.customer_subcode
              - if @ecol_transaction.ecol_customer.token_3_type == 'RC'
                = @ecol_transaction.remitter_code
              - if @ecol_transaction.ecol_customer.token_3_type == 'IN'
                = @ecol_transaction.invoice_no
            - else
              = "-"
          %td= "(#{@ecol_transaction.ecol_customer.val_token_3 rescue "-"})"
  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; display: inline-block;'}
    #ticket-details
      %br
      %br
      %br
      %table.table.no-border  
        %tr
          %td.label Transfer Amount
          %td= @ecol_transaction.transfer_amt
          %td= "(#{@ecol_transaction.ecol_customer.val_txn_amt rescue "-"})" 
        %tr
          %td.label Transfer Date
          %td= @ecol_transaction.transfer_date
          %td= "(#{@ecol_transaction.ecol_customer.val_txn_date rescue "-"})" 
        %tr
          %td.label Remitter Account Number
          %td= @ecol_transaction.rmtr_account_no
          %td= "(#{@ecol_transaction.ecol_customer.val_rem_acct rescue "-"})"
        %tr
          %td.label Beneficiary Name
          %td= @ecol_transaction.bene_full_name
          %td= "(#{@ecol_transaction.ecol_customer.val_ben_name rescue "-"})"
  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; display: inline-block;'}
    #ticket-details
      %h3 E-Collect Details
      %table.table.no-border
        %tr
          %td.label Customer Sub Code
          %td= @ecol_transaction.customer_subcode
        %tr
          %td.label Remitter Code
          %td= @ecol_transaction.remitter_code
        %tr
          %td.label Validated At
          %td= @ecol_transaction.validated_at
        %tr
          %td.label Validation Status
          %td= @ecol_transaction.validation_status
        %tr
          %td.label Validation Result
          %td
            = link_to "Show Result", "#", :class => 'result-link', :href => "#resultText", :style => "font-weight:100"
        %tr
          %td.label Credited At
          %td= @ecol_transaction.credited_at
        %tr
          %td.label Invoice No
          %td= @ecol_transaction.invoice_no
        %tr
          %td.label Validate At
          %td= @ecol_transaction.validate_at
        %tr
          %td.label Credit Attempt At
          %td= @ecol_transaction.credit_attempt_at
        %tr
          %td.label Remitter Email Notify Reference
          %td= @ecol_transaction.rmtr_email_notify_ref
        %tr
          %td.label Remitter Sms Notify Reference
          %td= @ecol_transaction.rmtr_sms_notify_ref
        %br
        %br
      .space{:style=>'height: 18px;'}
      %hr{:style=>'background-color: #F1F2F8; width: 220%'}
      %h3 Transfer Details
      %table.table.no-border
        %tr
          %td.label Transfer Type
          %td= @ecol_transaction.transfer_type
        %tr
          %td.label Transfer Status
          %td= @ecol_transaction.transfer_status
        %tr
          %td.label Transfer Date
          %td= @ecol_transaction.transfer_date
      .space{:style=>'height: 14px;'}
      %hr{:style=>'background-color: #F1F2F8; width: 220%'}    
      %h3 
        = "Remitter"
      %table.table.no-border
        %tr
          %td.label Name
          %td= @ecol_transaction.rmtr_full_name
        %tr
          %td.label Address
          %td= @ecol_transaction.rmtr_address
  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; display: inline-block;'}
    #ticket-details
      %h3
      .space{:style=>'height: 6px;'}
      %table.table.no-border
        %br 
        %tr
          %td.label Credit Account Number
          %td= @ecol_transaction.credit_acct_no
        %tr
          %td.label Credit Status
          %td= @ecol_transaction.credit_status
        %tr
          %td.label Credit Reference
          %td= @ecol_transaction.credit_ref
        %tr
          %td.label Credit Attempt No
          %td= @ecol_transaction.credit_attempt_no
        %tr
          %td.label Settle Status
          %td= @ecol_transaction.settle_status
        %tr
          %td.label Settle Reference
          %td= @ecol_transaction.settle_ref
        %tr
          %td.label Settle Attempt No
          %td= @ecol_transaction.settle_attempt_no
        %tr
          %td.label Returned At
          %td= @ecol_transaction.returned_at
        %tr
          %td.label Return Status
          %td= @ecol_transaction.return_status
        %tr
          %td.label Return Reference
          %td= @ecol_transaction.return_ref
        %tr
          %td.label Return Attempt At
          %td= @ecol_transaction.return_attempt_at
        %tr
          %td.label Return Attempt No
          %td= @ecol_transaction.return_attempt_no
      .space{:style=>'height: 29px;'}
      %hr{:style=>'background-color: #F1F2F8; width: 120%'}
      #ticket-details
      %h3
      .space{:style=>'height: 15px;'}
      %table.table.no-border
        %tr
          %td.label Transfer Amount
          %td= @ecol_transaction.transfer_amt
        %tr
          %td.label Transfer Currency
          %td= @ecol_transaction.transfer_ccy
        %tr
          %td.label Beneficiary Account No
          %td= @ecol_transaction.bene_account_no
        %tr
          %td.label Beneficiary Account IFSC
          %td= @ecol_transaction.bene_account_ifsc
      %hr{:style=>'background-color: #F1F2F8; width: 120%'}
      %h3
        = "Beneficiary"
      %table.table.no-border
        %tr
          %td.label Name
          %td= @ecol_transaction.bene_full_name
        %tr
          %td.label Address
          %td= @ecol_transaction.bene_full_address
      .space{:style=>'height: 2px;'}
  .header-form-main{:style=>'background-color: #ecf5fa; width: 100%; display: inline-block;'}
    %table.table.no-border
      %tr
        %td.label Remitter To Beneficiary Note
        %td= @ecol_transaction.rmtr_to_bene_note
#faultText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Fault Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .demo-area
    %pre#fault_text{:style => 'word-wrap: break-word'}
    %table.table.no-border
      %tr
        %td.label Fault Code: 
        %td= @ecol_transaction.fault_code
      %tr
        %td.label Fault Reason:
        %td= @ecol_transaction.fault_reason
#resultText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Validation Result
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    %pre#result_text{:style => 'word-wrap: break-word'}
      = @ecol_transaction.validation_result




