= simple_form_for @qg_ecol_todays_rtgs_txn, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "qg_ecol_todays_rtgs_txn_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@qg_ecol_todays_rtgs_txn, :base, :prepend_text => "")

  .form-main{:style=>"width: 100%;"}
    .control-group
      = f.label :transfer_unique_no, "*Transfer Unique No", :class => 'control-label'
      = f.text_field :transfer_unique_no, :maxlength => 64
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :transfer_status, :prepend_text => "")
    .control-group
      = f.label :rmtr_ref, "*Remitter Ref", :class => 'control-label'
      = f.text_field :rmtr_ref, :maxlength => 64
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_ref, :prepend_text => "")
    .control-group
      = f.label :bene_account_ifsc, "*Beneficiary Account IFSC", :class => 'control-label'
      = f.text_field :bene_account_ifsc, :maxlength => 20
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_ref, :prepend_text => "")
    .control-group
      = f.label :bene_account_no, "*Beneficiary Account No", :class => 'control-label'
      = f.text_field :bene_account_no, :maxlength => 64
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :bene_account_no, :prepend_text => "")
    .control-group
      = f.label :bene_account_type, "*Beneficiary Account Type", :class => 'control-label'
      = f.text_field :bene_account_type, :maxlength => 10
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :bene_account_type, :prepend_text => "")
    .control-group
      = f.label :rmtr_account_ifsc, "*Remitter Account IFSC", :class => 'control-label'
      = f.text_field :rmtr_account_ifsc, :maxlength => 20
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_account_ifsc, :prepend_text => "")
    .control-group
      = f.label :rmtr_account_no, "*Remitter Account No", :class => 'control-label'
      = f.text_field :rmtr_account_no, :maxlength => 64
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_account_no, :prepend_text => "")
    .control-group
      = f.label :rmtr_account_type, "*Remitter Account Type", :class => 'control-label'
      = f.text_field :rmtr_account_type, :maxlength => 10
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_account_type, :prepend_text => "")
    .control-group
      = f.label :transfer_amt, "*Transfer Amount", :class => 'control-label'
      = f.number_field :transfer_amt
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :transfer_amt, :prepend_text => "")
    .control-group
      = f.label :transfer_date, "*Transfer Date", :class => 'control-label'
      = f.text_field :transfer_date
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :transfer_date, :prepend_text => "")
    .control-group
      = f.label :rmtr_to_bene_note, "Remitter to Beneficiary Note", :class => 'control-label'
      = f.text_area :rmtr_to_bene_note, :maxlength => 255, :rows => 10, :style => 'width:300px; height:100px' 
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_to_bene_note, :prepend_text => "")
    .control-group
      = f.label :rmtr_full_name, "*Remitter Full Name", :class => 'control-label'
      = f.text_field :rmtr_full_name, :maxlength => 15
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_full_name, :prepend_text => "")
    .control-group
      = f.label :rmtr_address, "Remitter Address", :class => 'control-label'
      = f.text_area :rmtr_address, :maxlength => 255, :rows => 10, :style => 'width:300px; height:100px' 
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :rmtr_address, :prepend_text => "")
    .control-group
      = f.label :bene_full_name, "Beneficiary Full Name", :class => 'control-label'
      = f.text_field :bene_full_name, :maxlength => 255
      #msg-error
        = error_message_for(@qg_ecol_todays_rtgs_txn, :bene_full_name, :prepend_text => "")

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_todays_rtgs_txn', :value => label_name + ' RTGS Transaction'
    = link_to :Cancel,'/qg_ecol_todays_rtgs_txns', :name => 'cancel', :class=>"cancel btn"
