%br
= link_to 'New RTGS Transaction', new_qg_ecol_todays_rtgs_txn_path
%br
%br
%h1 Listing Todays RTGS Transactions
%br
= "Total Count: #{@qg_ecol_todays_rtgs_txns_count}"
%br
= will_paginate @qg_ecol_todays_rtgs_txns
%br


%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th{:style=>'text-align:left; background-color: lightblue;'}
      %th{:style=>'text-align:left; background-color: lightblue;'}
      %th{:style=>'text-align:left; background-color: lightblue;'}
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Transfer Unique No
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Remitter Ref
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Beneficiary Account IFSC
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Beneficiary Account No
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Beneficiary Account Type
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Remitter Account IFSC
      %th{:style=>'text-align:left; background-color: lightblue;'}  
        Remitter Account No

  %tbody
    - @qg_ecol_todays_rtgs_txns.each do |qg_ecol_todays_rtgs_txn|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', qg_ecol_todays_rtgs_txn
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_qg_ecol_todays_rtgs_txn_path(qg_ecol_todays_rtgs_txn)
        %td{:style=>'text-align:left;'}
          = link_to 'Delete', qg_ecol_todays_rtgs_txn, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.transfer_unique_no
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.rmtr_ref
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.bene_account_ifsc
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.bene_account_no
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.bene_account_type
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.rmtr_account_ifsc
        %td{:style=>'text-align:left;'}
          = qg_ecol_todays_rtgs_txn.rmtr_account_no
