= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Supplier Code", nil, :class => 'control-label'
    = text_field_tag :supplier_code, params[:supplier_code]
  .control-group
    = label_tag "Invoice No", nil, :class => 'control-label'
    = text_field_tag :invoice_no, params[:invoice_no]
  .control-group
    = label_tag "Invoice Date", nil, :class => 'control-label'    
    = text_field_tag :from_date, params[:from_date]
    To
    = text_field_tag :to_date, params[:to_date]
  .control-group
    = label_tag "Invoice Amount", nil, :class => 'control-label' 
    = text_field_tag :from_amount, params[:from_amount]
    To
    = text_field_tag :to_amount, params[:to_amount]
  .control-group
    = label_tag "Debit Reference No", nil, :class => 'control-label'
    = text_field_tag :debit_ref_no, params[:debit_ref_no]
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

:javascript
  var in_advanced_search = true;
