.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; height: 600px; padding-left: 10px'}
    #form-details
      %h3 SC Fault Code Details
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label Fault Code
          %td.value
            = @sc_fault_code.fault_code
          %td
        %tr
          %td.label Fault Reason
          %td.value
            = @sc_fault_code.fault_reason
          %td
        %tr
          %td.label Fault Kind
          %td.value
            = @sc_fault_code.fault_kind
          %td
        %tr
          %td.label Occurs When
          %td.value
            = @sc_fault_code.occurs_when
          %td
        %tr
          %td.label Remedial Action
          %td.value
            = @sc_fault_code.remedial_action
          %td
        %tr
          %td.label Created At
          %td.value
            = @sc_fault_code.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
          %td
        %tr
          %td.label Updated At
          %td.value
            = @sc_fault_code.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
          %td
