= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Customer Code", "Customer Code", :class => 'control-label'
    = text_field_tag :customer_code, params[:customer_code]
  .control-group
    = label_tag "Sub Code", "Sub Code", :class => 'control-label'
    = text_field_tag :customer_subcode, params[:customer_subcode]
  .control-group
    = label_tag "Remitter Code", "Remitter Code", :class => 'control-label'
    = text_field_tag :remitter_code, params[:remitter_code]
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'ecol_customer_reset'
  = hidden_field_tag :advanced_search, :true

:javascript
  var in_advanced_search = true;
