= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Bank Ref No", "Bank Ref No", :class => 'control-label'
    = text_field_tag :bank_ref_no, params[:bank_ref_no]
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'reconciled_return_reset'
  = hidden_field_tag :advanced_search, :true

:javascript
  var in_advanced_search = true;
