%a{href: '#', "data-target": "##{id}", "data-toggle": "modal"} #{object.step_name}
.modal.hide.fade{role: "dialog", id: "#{id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss": "modal", type: "button"} ×
        %h4.modal-title #{object.step_name}
      .modal-body
        %p #{object.try(:remote_host)}
        %p #{object.try(:req_uri)}
      .modal-footer
        %button.btn.btn-default{"data-dismiss": "modal", type: "button"} Close