= simple_form_for @sm_bank, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "sm_bank_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@sm_bank, :base, :prepend_text => "")
  .form-main{:style => "width: 100%;"}
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :is_enabled, "Enabled?", :class => 'control-label'
      - if f.object.is_enabled.nil?
        = f.check_box :is_enabled, {:checked => "checked"},"Y","N"
      - else 
        = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@sm_bank, :is_enabled, :prepend_text => "")
    .control-group
      = f.label :code, "*Code", :class => 'control-label'
      = f.text_field :code, :maxlength => 20, :required => true
      #msg-error
        = error_message_for(@sm_bank, :code, :prepend_text => "")
    .control-group
      = f.label :name, "*Name", :class => 'control-label'
      = f.text_field :name, :maxlength => 100, :required => true
      #msg-error
        = error_message_for(@sm_bank, :name, :prepend_text => "")
    .control-group
      = f.label :bank_code, "*Bank Code", :class => 'control-label'
      = f.text_field :bank_code, :maxlength => 11, :required => true
      #msg-error
        = error_message_for(@sm_bank, :bank_code, :prepend_text => "")
    .control-group
      = f.label :low_balance_alert_at, "Low Balance Alert At", :class => 'control-label'
      = f.text_field :low_balance_alert_at
      #msg-error
        = error_message_for(@sm_bank, :low_balance_alert_at, :prepend_text => "")
    .control-group
      = f.label :identity_user_id, "*Identity User ID", :class => 'control-label'
      = f.text_field :identity_user_id, :maxlength => 20
      #msg-error
        = error_message_for(@sm_bank, :identity_user_id, :prepend_text => "")
    .control-group
      = f.label :neft_allowed, "NEFT Allowed?", :class => 'control-label'
      - if f.object.neft_allowed.nil?
        = f.check_box :neft_allowed, {:checked => "checked"},"Y","N"
      - else 
        = f.check_box :neft_allowed, {},"Y","N"
      #msg-error
        = error_message_for(@sm_bank, :neft_allowed, :prepend_text => "")
    .control-group
      = f.label :imps_allowed, "IMPS Allowed?", :class => 'control-label'
      = f.check_box :imps_allowed, {},"Y","N"
      #msg-error
        = error_message_for(@sm_bank, :imps_allowed, :prepend_text => "")
  .form-actions
    - (f.object.new_record? and f.object.code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_sm_bank', :value => label_name + ' Bank'
    = link_to :Cancel,'/sm_banks', :name => 'cancel', :class=>"cancel btn"

