= simple_form_for @icol_customer, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "customer_form"} do |f|
  .control-group
    - if @icol_customer.errors.any?
      #msg-error
        - @icol_customer.errors.full_messages.each do |msg|
          = msg
          %br
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    = f.hidden_field :settings_cnt
    .control-group
      = f.label :is_enabled, "Enabled?", :class => 'control-label'
      = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@icol_customer, :is_enabled, :prepend_text => "")
    .control-group
      = f.label :app_code, "*App Code", :class => 'control-label'
      = f.text_field :app_code, maxlength: 50
    .control-group
      = f.label :customer_code, "*Customer Code", :class => 'control-label'
      = f.text_field :customer_code, maxlength: 15
    .control-group
      = f.label :validate_url, "Validate URL", :class => 'control-label'
      = f.text_field :validate_url, maxlength: 100
    .control-group
      = f.label :notify_url, "Notify URL", :class => 'control-label'
      = f.text_field :notify_url, maxlength: 100
    .control-group
      = f.label :http_username, "HTTP Username", :class => 'control-label'
      = f.text_field :http_username, maxlength: 100
    .control-group
      = f.label :http_password, "HTTP Password", :class => 'control-label'
      = f.password_field :http_password, :value => f.object.http_password, maxlength: 100
    .control-group
      = f.label :retry_notify_in_mins, "Retry Notify (in mins)", :class => 'control-label'
      = f.number_field :retry_notify_in_mins
    .control-group
      = f.label :max_retries_for_notify, "Max. Retries for Notify", :class => 'control-label'
      = f.number_field :max_retries_for_notify
    .control-group
      %table.table.datatable
        %thead
          %tr
            %th Setting
            %th Name
            %th Type
            %th Value
        %tbody
          - (1..5).each do |i|
            %tr
              %td
                = i
              %td
                = f.text_field "setting#{i}_name"
              %td
                = f.select "setting#{i}_type", options_for_select(IcolCustomer::SETTING_TYPES, @icol_customer.send("setting#{i}_type"))
              %td
                = f.text_field "setting#{i}_value"
  .form-actions
    - (f.object.new_record? and f.object.app_code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_customer', :value => label_name + ' Icol Customer'
    = link_to :Cancel,'/customers', :name => 'cancel', :class=>"cancel btn"