= simple_form_for @encrypted_password, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "encrypted_password_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@encrypted_password, :base, :prepend_text => "")
  .form-main
    .control-group
      = f.label :password, "Password", :class => 'control-label'
      = f.text_field :password
      #msg-error
        = error_message_for(@encrypted_password, :password, :prepend_text => "")
  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_encrypted_password', :value => label_name + ' Encrypted Password'
    = link_to :Cancel,'/encrypted_passwords', :name => 'cancel', :class=>"cancel btn"


