= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Transaction Type", "Transaction Type" , :class => 'control-label'
    = select_tag :txn_type, options_for_select([['NEFT','NEFT'],['IMPS','IMPS'],['RTGS','RTGS']],params[:txn_type]),:prompt => 'ANY'
  .control-group
    = label_tag "Bank Reference No", "Bank Reference No", :class => 'control-label'
    = text_field_tag :bank_ref_no, params[:bank_ref_no]
  = hidden_field_tag :file_name, params[:file_name]
  = hidden_field_tag :status, params[:status]
  = hidden_field_tag :advanced_search, :true
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

:javascript
  var in_advanced_search = true;
