.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;  height:630px;'}
    #form-details
      %h3 Reconciled Return Incoming Record
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px;'}
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label Version
          %td.value
            = link_to "#{audit_count(@rr_record.incoming_file_record)}", :controller => :rr_incoming_records, :action => :audit_logs, :version_id => audit_count(@rr_record.incoming_file_record), :id => @rr_record.incoming_file_record_id
        %tr
          %td.label Record Text
          %td.value
            - if @rr_record.incoming_file_record.record_txt.nil?
              .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Record Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
                Show Record Text
            - else
              = link_to "Show Record Text", "#", :class => 'show_record_text', :href => "#recordText", data: { record_txt: @rr_record.incoming_file_record.record_txt} 

        %tr
          %td.label File Name 
          %td.value
            = @rr_record.file_name
        %tr
          %td.label Transaction Type
          %td.value
            = @rr_record.txn_type
        %tr
          %td.label Bank Reference No
          %td.value
            = @rr_record.bank_ref_no
        %tr
          %td.label Settlement Date
          %td.value
            = @rr_record.settlement_date.try(:strftime, "%d/%m/%Y %I:%M%p")
        %tr
          %td.label Return Code
          %td.value
            = @rr_record.return_code
        %tr
          %td.label Reason
          %td.value
            = @rr_record.reason

#recordText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Record Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .demo-area
      %button#d_clip_button1.my_clip_button1{"data-clipboard-target" => "record_txt"}
        %b Copy To Clipboard...
    %pre#record_txt{:style => 'word-wrap: break-word'}
      .reply{:style => 'word-wrap: break-word'}
