= simple_form_for @pc_app, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "pc_app_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@pc_app, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :app_id, "*App ID", :class => 'control-label'
      = f.text_field :app_id, :maxlength => 20
      #msg-error
        = error_message_for(@pc_app, :app_id, :prepend_text => "")
    .control-group
      = f.label :card_cust_id, "*Customer ID", :class => 'control-label'
      = f.text_field :card_cust_id, :maxlength => 20
      #msg-error
        = error_message_for(@pc_app, :card_cust_id, :prepend_text => "")    
    .control-group
      = f.label :card_acct, "*Card Account", :class => 'control-label'
      = f.text_field :card_acct, :maxlength => 20
      #msg-error
        = error_message_for(@pc_app, :card_acct, :prepend_text => "")    
    .control-group
      = f.label :sc_gl_income, "*SC Income Account", :class => 'control-label'
      = f.text_field :sc_gl_income, :maxlength => 20
      #msg-error
        = error_message_for(@pc_app, :sc_gl_income, :prepend_text => "")
    .control-group
      = f.label :is_enabled, "Is Enabled ?", :class => 'control-label'
      = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@pc_app, :is_enabled, :prepend_text => "")
    .control-group
      = f.label :traceid_prefix, "*Trace ID Prefix", :class => 'control-label'
      = f.text_field :traceid_prefix
      #msg-error
        = error_message_for(@pc_app, :traceid_prefix, :prepend_text => "")
    .control-group
      = f.label :source_id, "*Source ID", :class => 'control-label'
      = f.text_field :source_id
      #msg-error
        = error_message_for(@pc_app, :source_id, :prepend_text => "")
    .control-group
      = f.label :channel_id, "*Channel ID", :class => 'control-label'
      = f.text_field :channel_id
      #msg-error
        = error_message_for(@pc_app, :channel_id, :prepend_text => "")
    .control-group
      = f.label :needs_pin, "Needs Pin ?", :class => 'control-label'
      = f.check_box :needs_pin, {},"Y","N"
      #msg-error
        = error_message_for(@pc_app, :needs_pin, :prepend_text => "")
    .control-group
      = f.label :mm_host, "*MM Host", :class => 'control-label'
      = f.text_field :mm_host
      #msg-error
        = error_message_for(@pc_app, :mm_host, :prepend_text => "")
    .control-group
      = f.label :mm_consumer_key, "*MM Consumer Key", :class => 'control-label'
      = f.text_field :mm_consumer_key
      #msg-error
        = error_message_for(@pc_app, :mm_consumer_key, :prepend_text => "")
    .control-group
      = f.label :mm_consumer_secret, "*MM Consumer Secret", :class => 'control-label'
      = f.text_field :mm_consumer_secret
      #msg-error
        = error_message_for(@pc_app, :mm_consumer_secret, :prepend_text => "")
    .control-group
      = f.label :mm_card_type, "*MM Card Type", :class => 'control-label'
      = f.text_field :mm_card_type
      #msg-error
        = error_message_for(@pc_app, :mm_card_type, :prepend_text => "")
    .control-group
      = f.label :mm_email_domain, "*MM Email Domain", :class => 'control-label'
      = f.text_field :mm_email_domain
      #msg-error
        = error_message_for(@pc_app, :mm_email_domain, :prepend_text => "")
    .control-group
      = f.label :mm_admin_host, "*MM Admin Host", :class => 'control-label'
      = f.text_field :mm_admin_host
      #msg-error
        = error_message_for(@pc_app, :mm_admin_host, :prepend_text => "")
    .control-group
      = f.label :mm_admin_user, "*MM Admin User", :class => 'control-label'
      = f.text_field :mm_admin_user
      #msg-error
        = error_message_for(@pc_app, :mm_admin_user, :prepend_text => "")
    .control-group
      = f.label :mm_admin_password, "*MM Admin Password", :class => 'control-label'
      = f.text_field :mm_admin_password
      #msg-error
        = error_message_for(@pc_app, :mm_admin_password, :prepend_text => "")

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_pc_app', :value => label_name + ' PC App'
    = link_to :Cancel,'/pc_apps', :name => 'cancel', :class=>"cancel btn"