.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; height:850px;'}
    #form-details
      %h3 PC App Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @pc_app
        %a.btn{:href => "#{!(can) ? '#' : '/pc_apps/' + @pc_app.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'pc_apps/approve', :@record => @pc_app
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@pc_app.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@pc_app)}", :controller => :pc_apps, :action => :audit_logs, :version_id => audit_count(@pc_app), :id => @pc_app.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@pc_app, :base, :prepend_text => "")
          %tr
            %td.label App ID
            %td.value
              = @pc_app.app_id
            %td#msg-error
              = error_message_for(@pc_app, :app_id, :prepend_text => "")
          %tr
            %td.label Card Customer ID
            %td.value
              = @pc_app.card_cust_id
            %td#msg-error
              = error_message_for(@pc_app, :card_cust_id, :prepend_text => "")
          %tr
            %td.label Card Account
            %td.value
              = @pc_app.card_acct
            %td#msg-error
              = error_message_for(@pc_app, :card_acct, :prepend_text => "")
          %tr
            %td.label SC Income Account
            %td.value
              = @pc_app.sc_gl_income
            %td#msg-error
              = error_message_for(@pc_app, :sc_gl_income, :prepend_text => "")
          %tr
            %td.label Is Enabled?
            %td.value
              = @pc_app.is_enabled
            %td#msg-error
              = error_message_for(@pc_app, :is_enabled, :prepend_text => "")
          %tr
            %td.label Trace ID Prefix
            %td.value
              = @pc_app.traceid_prefix
            %td#msg-error
              = error_message_for(@pc_app, :traceid_prefix, :prepend_text => "")
          %tr
            %td.label Source ID
            %td.value
              = @pc_app.source_id
            %td#msg-error
              = error_message_for(@pc_app, :source_id, :prepend_text => "")
          %tr
            %td.label Channel ID
            %td.value
              = @pc_app.channel_id
            %td#msg-error
              = error_message_for(@pc_app, :channel_id, :prepend_text => "")
          %tr
            %td.label Needs Pin
            %td.value
              = @pc_app.needs_pin
            %td#msg-error
              = error_message_for(@pc_app, :needs_pin, :prepend_text => "")
          %tr
            %td.label MM Host
            %td.value
              = @pc_app.mm_host
            %td#msg-error
              = error_message_for(@pc_app, :mm_host, :prepend_text => "")
          %tr
            %td.label MM Consumer Key
            %td.value
              = @pc_app.mm_consumer_key
            %td#msg-error
              = error_message_for(@pc_app, :mm_consumer_key, :prepend_text => "")
          %tr
            %td.label MM Consumer Secret
            %td.value
              = @pc_app.mm_consumer_key
            %td#msg-error
              = error_message_for(@pc_app, :mm_consumer_secret, :prepend_text => "")
          %tr
            %td.label MM Card Type
            %td.value
              = @pc_app.mm_card_type
            %td#msg-error
              = error_message_for(@pc_app, :mm_card_type, :prepend_text => "")
          %tr
            %td.label MM Email Domain
            %td.value
              = @pc_app.mm_email_domain
            %td#msg-error
              = error_message_for(@pc_app, :mm_email_domain, :prepend_text => "")
          %tr
            %td.label MM Admin Host
            %td.value
              = @pc_app.mm_admin_host
            %td#msg-error
              = error_message_for(@pc_app, :mm_admin_host, :prepend_text => "")
          %tr
            %td.label MM Admin User
            %td.value
              = @pc_app.mm_admin_user
            %td#msg-error
              = error_message_for(@pc_app, :mm_admin_user, :prepend_text => "")
          %tr
            %td.label MM Admin Password
            %td.value
              = @pc_app.mm_admin_password
            %td#msg-error
              = error_message_for(@pc_app, :mm_admin_password, :prepend_text => "")
          %tr
            %td.label Created By
            %td.value
              = @pc_app.created_user.try(:username)
            %td#msg-error
              = error_message_for(@pc_app, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @pc_app.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@pc_app, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @pc_app.created_at.utc.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@pc_app, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @pc_app.updated_at.utc.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@pc_app, :updated_at, :prepend_text => "")