%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = form_tag icol_validate_steps_path, :method => :put, :class => 'form-horizontal', :autocomplete=>"off", id: 'advanced_search' do
    .control-group
      = label_tag "App Code", "App Code", :class => 'control-label'
      = text_field_tag :app_code, params[:app_code]
    .control-group
      = label_tag "Customer Code", "Customer Code", :class => 'control-label'
      = text_field_tag :customer_code, params[:customer_code]
    .control-group
      = label_tag "Step Name", "Step Name", :class => 'control-label'
      = text_field_tag :step_name, params[:step_name]
    .control-group
      = label_tag "Status", "Status", :class => 'control-label'
      = select_tag :status_code, options_for_select([['NEW','NEW'],['COMPLETED','COMPLETED']],params[:status_code]),:prompt => 'ANY'
    .control-group
      = label_tag "Request Timestamp", "Request Timestamp", :class => 'control-label'
      = text_field_tag :from_request_timestamp, params[:from_request_timestamp]
      To
      = text_field_tag :to_request_timestamp, params[:to_request_timestamp]
    .control-group
      = label_tag "Reply Timestamp", "Reply Timestamp", :class => 'control-label'
      = text_field_tag :from_reply_timestamp, params[:from_reply_timestamp]
      To
      = text_field_tag :to_reply_timestamp, params[:to_reply_timestamp]
      = hidden_field_tag :page, params[:page] || 1

    .form-actions
      = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button",onclick: "$('#page').val(1)"
      = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

- if @searcher.errors.present?
  :javascript
    $('.collapsible-content').show(); 

= advanced_search_page_links
