%br
%br
%h1 Listing I-Collect Validate Steps
= render :partial => 'advanced_search'
%br
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      App Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Customer Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Step Name
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Status
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Request Timestamp
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Reply Timestamp
      
  .tbody
    - @records.each do |step|   
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', step
        %td{:style=>'text-align:left;'}
          = step.app_code
        %td{:style=>'text-align:left;'}
          = step.customer_code
        %td{:style=>'text-align:left;'}
          = step.step_name
        %td{:style=>'text-align:left;'}
          = step.status_code
        %td{:style=>'text-align:left;'}
          = step.req_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
        %td{:style=>'text-align:left;'}
          = step.rep_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
