.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 I -Collect Validate Step
      %br
.show_ticket
  .header-form-main{:style=>'background-color: #ecf5fa; width: 50%; height: 150px; display: inline-block;'}
    %h3 
      Customer Code:
      = @validate_step.customer_code
    %h3 
      App Code:
      = @validate_step.app_code
    %h3
      Request Timestamp:
      = @validate_step.req_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
    %h3
      Request Bitstream:
      = show_xml('Show Reply','request-link', @validate_step.req_bitstream)
  .header-form-extended{:style=>'background-color: #ecf5fa; width: 50%; height: 150px; display: inline-block;'}
    %h3
      Status:
      = @validate_step.status_code
      %tr
        - if @validate_step.status_code == "FAILED"
          = link_to "Fault Text", "#", :class => 'fault-link', :href => "javascript:void()", :style => "font-weight:100"
        - if @validate_step.fault_bitstream.present?
          = link_to "Fault Bitstream", "#", :class => 'val-fault-link', :href => "#faultLink", data: { fault: @validate_step.fault_bitstream}
    %h3
      Step Name:
      = @validate_step.step_name
    %h3
      Reply Timestamp:
      = @validate_step.rep_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
    %h3
      Reply Bitstream:
      = show_xml('Show Reply','reply-link', @validate_step.rep_bitstream)

  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; height: 450px; display: inline-block;'}
    %h3 Up Request Details:
    %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
      %tr
        %td.label Host
        %td.value
          = @validate_step.up_host
      %tr
        %td.label Request URI
        %td.value
          = @validate_step.up_req_uri
      %tr
        %td.label Request Headers
        %td.value
          = link_to "Show Header", "#", :class => 'val-req-header-link', :href => "javascript:void()", :style => "font-weight:100", data: {request: @validate_step.up_req_header }
      %tr
        %td.label Request Timestamp
        %td.value
          = @validate_step.up_req_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
        %td
      %tr
        %td.label Request Bitstream
        %td.value
          = show_xml('Show Request','request-link',@validate_step.up_req_bitstream)
        %td

  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; height: 450px; display: inline-block;'}
    %h3 Up Reply Details:
    %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
      %tr
        %td.label Reply Headers
        %td.value
          = link_to "Show Header", "javascript:void()", :class => 'val-rep-header-link', :style => "font-weight:100", data: {reply: @validate_step.up_rep_header}
      %tr
        %td.label Reply Timestamp
        %td.value
          = @validate_step.up_rep_timestamp.try(:strftime, "%d/%m/%Y %I:%M%p")
        %td
      %tr
        %td.label Reply Bitstream
        %td.value
          = show_xml('Show Reply','reply-link',@validate_step.up_rep_bitstream)
        %td

= render partial: 'modal_boxes'

#faultText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Fault Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .demo-area
    %pre#fault_text{:style => 'word-wrap: break-word'}
    %table.table.no-border
      %tr
        %td.label Fault Code:
        %td= @validate_step.fault_code
      %tr
        %td.label Fault SubCode:
        %td= @validate_step.fault_subcode
      %tr
        %td.label Fault Reason:
        %td= @validate_step.fault_reason

