= simple_form_for @ecol_rule, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "ecol_rule_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ecol_rule, :base, :prepend_text => "")
  .form-main{:style => 'width:100%'}
    = f.hidden_field :lock_version
    .control-group
      = f.label :ifsc, "*IFSC Code", :class => 'control-label'
      = f.text_field :ifsc, :maxlength => 11
      #msg-error
        = error_message_for(@ecol_rule, :ifsc, :prepend_text => "")
    .control-group
      = f.label :cod_acct_no, "*Pool Account No", :class => 'control-label'
      = f.text_field :cod_acct_no, :maxlength => 15
      #msg-error
        = error_message_for(@ecol_rule, :cod_acct_no, :prepend_text => "")
    .control-group
      = f.label :stl_gl_inward, "*Settlement GL (Inward)", :class => 'control-label'
      = f.text_field :stl_gl_inward, :maxlength => 15
      #msg-error
        = error_message_for(@ecol_rule, :stl_gl_inward, :prepend_text => "")
    .control-group
      = f.label :stl_gl_return, "*Settlement GL (Return)", :class => 'control-label'
      = f.text_field :stl_gl_return, :maxlength => 15
      #msg-error
        = error_message_for(@ecol_rule, :stl_gl_return, :prepend_text => "")

  .form-actions
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_rule', :value => "Update Rule"
    = link_to :Cancel,root_path, :name => 'cancel', :class=>"cancel btn"

