.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 E-Collect Rule Details 
      %br
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
        - if !@ecol_rule.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@ecol_rule)}", :controller => :ecol_rules, :action => :audit_logs, :version_id => audit_count(@ecol_rule), :id => @ecol_rule.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@ecol_rule, :base, :prepend_text => "")
          %tr
            %td.label IFSC Code
            %td.value
              = @ecol_rule.ifsc
            %td#msg-error
              = error_message_for(@ecol_rule, :ifsc, :prepend_text => "")
          %tr
            %td.label Pool Account No
            %td.value
              = @ecol_rule.cod_acct_no
            %td#msg-error
              = error_message_for(@ecol_rule, :cod_acct_no, :prepend_text => "")
          %tr
            %td.label Settlement GL (Inward)
            %td.value
              = @ecol_rule.stl_gl_inward
            %td#msg-error
              = error_message_for(@ecol_rule, :stl_gl_inward, :prepend_text => "")
          %tr
            %td.label Settlement GL (Return)
            %td.value
              = @ecol_rule.stl_gl_return
            %td#msg-error
              = error_message_for(@ecol_rule, :stl_gl_return, :prepend_text => "")
      = link_to 'Back to Dashboard', root_path              