= simple_form_for @bm_aggregator_payment, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "bm_aggregator_payment_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@bm_aggregator_payment, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :cod_acct_no, "*Pool Account No", :class => 'control-label'
      = f.text_field :cod_acct_no, :maxlength => 50
      #msg-error
        = error_message_for(@bm_aggregator_payment, :cod_acct_no, :prepend_text => "")
    .control-group
      = f.label :neft_sender_ifsc, "*NEFT Sender IFSC", :class => 'control-label'
      = f.text_field :neft_sender_ifsc, :maxlength => 11
      #msg-error
        = error_message_for(@bm_aggregator_payment, :neft_sender_ifsc, :prepend_text => "")
    .control-group
      = f.label :bene_acct_no, "*Beneficiary Account No", :class => 'control-label'
      = f.text_field :bene_acct_no, :maxlength => 50
      #msg-error
        = error_message_for(@bm_aggregator_payment, :bene_acct_no, :prepend_text => "")
    .control-group
      = f.label :bene_account_ifsc, "*Beneficiary Account IFSC", :class => 'control-label'
      = f.text_field :bene_account_ifsc, :maxlength => 11
      #msg-error
        = error_message_for(@bm_aggregator_payment, :bene_account_ifsc, :prepend_text => "")
    .control-group
      = f.label :payment_amount, "Payment Amount", :class => 'control-label'
      = f.text_field :payment_amount
      #msg-error
        = error_message_for(@bm_aggregator_payment, :payment_amount, :prepend_text => "")
    .control-group
      = f.label :bank_ref, "Bank Reference", :class => 'control-label'
      = f.text_field :bank_ref, :maxlength => 100
      #msg-error
        = error_message_for(@bm_aggregator_payment, :bank_ref, :prepend_text => "")      

  .form-actions
    - (f.object.new_record?) ? label_name = "Make" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_biller', :value => label_name + ' Payment'
    = link_to :Cancel,'/bm_aggregator_payments', :name => 'cancel', :class=>"cancel btn"