= "Total Count: #{@identities.count}"
%br
= will_paginate @identities
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'Text-align:left; background-color: lightblue;'}
      Id Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Number
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Country
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Issued Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Id Expiry Date 
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Is Verified ?
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Verified At
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Verified By
  .tbody
    - @identities.each do |identity|
      %tr
        %td{:style=>'text-align:left;'}
          - if !identity.whitelisted_identity.nil?
            = "Verified"
          - else
            = link_to 'verify',"#", :class => 'verify-link', :href => "#verifyIdentity", data: { partner_id: identity.inward_remittance.partner.try(:id), full_name: identity.full_name, first_name: identity.first_name, last_name: identity.last_name, id_type: identity.id_type, id_number: identity.id_number, id_country: identity.id_country, id_issue_date: identity.id_issue_date, id_expiry_date: identity.id_expiry_date, user_id: user_id} 
        %td{:style=>'text-align:left;'}
          = identity.id_type
        %td{:style=>'text-align:left;'}
          = identity.id_number
        %td{:style=>'text-align:left;'}
          = identity.id_country
        %td{:style=>'text-align:left;'}
          = identity.id_issue_date
        %td{:style=>'text-align:left;'}
          = identity.id_expiry_date
        %td{:style=>'text-align:left;'}
          = identity.is_verified
        %td{:style=>'text-align:left;'}
          = identity.verified_at
        %td{:style=>'text-align:left;'}
          = identity.verified_by
#verifyIdentity.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3.id_type Verify Identity
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    = simple_nested_form_for WhitelistedIdentity.new , :html => {:class=>'form-horizontal',:multipart => true, :autocomplete=>"off"} do |f|
      .form-extended
        #attachments
          %h3 Attachments: (Maximum size 2MB)
          .control-group.hidden
            = f.hidden_field :partner_id
            = f.hidden_field :full_name
            = f.hidden_field :first_name
            = f.hidden_field :last_name
            = f.hidden_field :id_type
            = f.hidden_field :id_number
            = f.hidden_field :id_country
            = f.hidden_field :id_issue_date
            = f.hidden_field :id_expiry_date
            = f.hidden_field :is_verified, :value => 'Y'
            = f.hidden_field :verified_at, :value => Time.zone.today
            = f.hidden_field :verified_by, :value => user_id 
            = f.hidden_field :created_by, :value => user_id
            = f.hidden_field :updated_by, :value => user_id
            = f.hidden_field :lock_version, :value => 0
            = f.hidden_field :times_used, :value => 1
            = f.fields_for :attachments, :input_html => { :rows => 3} do |attachment_form|
              = attachment_form.label :note
              = attachment_form.text_area :note, :style => 'width:300px; height:30px', :maxlength => 255
              = attachment_form.hidden_field :user_id, :value => @user_id
              = attachment_form.label :file
              = attachment_form.file_field :file
              = attachment_form.link_to_remove content_tag(:span, content_tag(:i, '', :class=>"icon icon-remove") + "Remove"), :class => 'remove'
          = f.link_to_add "Add attachment", :attachments, :class => 'btn add btn-small'
          %br
          %br
          = f.submit 'Verify', :class => 'btn add btn-small'