%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = form_tag imt_incoming_records_path, :method => :post, :class => 'form-horizontal', :autocomplete=>"off", :id => 'advanced_search' do
    .control-group
      = label_tag "IMT Reference no", nil, :class => 'control-label'
      = text_field_tag :imt_ref_no, params[:imt_ref_no]
    .control-group
      = label_tag "Transaction Issue Date", "Transaction Issue Date", :class => 'control-label'
      = text_field_tag :from_issue_date, params[:from_issue_date]
      To
      = text_field_tag :to_issue_date, params[:to_issue_date]
    .control-group
      = label_tag "Transaction Acquire Date", "Transaction Acquire Date", :class => 'control-label'
      = text_field_tag :from_acquire_date, params[:from_acquire_date]
      To
      = text_field_tag :to_acquire_date, params[:to_acquire_date]
    .control-group
      = label_tag "Amount", nil, :class => 'control-label' 
      = text_field_tag :from_amount, params[:from_amount]
      To
      = text_field_tag :to_amount, params[:to_amount]
    = hidden_field_tag :file_name, params[:file_name]
    = hidden_field_tag :status, params[:status]
    = hidden_field_tag :page, params[:page]
    .form-actions
      = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button",onclick: "$('#page').val(1)"
      = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

= advanced_search_page_links
