.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;  height:630px;'}
    #form-details
      %h3 IMT Incoming Record
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px;'}
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label Version
          %td.value
            = link_to "#{audit_count(@imt_record.incoming_file_record)}", :controller => :imt_incoming_records, :action => :audit_logs, :version_id => audit_count(@imt_record.incoming_file_record), :id => @imt_record.incoming_file_record_id
        %tr
          %td.label Record Text
          %td.value
            - if @imt_record.incoming_file_record.record_txt.nil?
              .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Record Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
                Show Record Text
            - else
              = link_to "Show Record Text", "#", :class => 'show_record_text', :href => "#recordText", data: { record_txt: @imt_record.incoming_file_record.record_txt}
        %tr
          %td.label Record No
          %td.value
            = @imt_record.record_no
        %tr
          %td.label IMT Reference No
          %td.value
            = @imt_record.imt_ref_no
        %tr
          %td.label Issuing Bank
          %td.value
            = @imt_record.issuing_bank
        %tr
          %td.label Acquiring Bank
          %td.value
            = @imt_record.acquiring_bank
        %tr
          %td.label Transaction Issue Date
          %td.value
            = @imt_record.txn_issue_date.try(:strftime, "%d/%m/%Y")
        %tr
          %td.label Transaction Acquire Date
          %td.value
            = @imt_record.txn_acquire_date.try(:strftime, "%d/%m/%Y")
        %tr
          %td.label Chargeback Action Date
          %td.value
            = @imt_record.chargeback_action_date.try(:strftime, "%d/%m/%Y")
        %tr
          %td.label Issuing Bank Transaction ID
          %td.value
            = @imt_record.issuing_bank_txn_id
        %tr
          %td.label Acquiring Bank Transaction ID
          %td.value
            = @imt_record.acquiring_bank_txn_id
        %tr
          %td.label Transaction Status
          %td.value
            = @imt_record.txn_status
        %tr
          %td.label Credited? / Debited?
          %td.value
            = @imt_record.crdr
        %tr
          %td.label Transfer Amount
          %td.value
            = @imt_record.transfer_amount
        %tr
          %td.label Acquiring Fee
          %td.value
            = @imt_record.acquiring_fee
        %tr
          %td.label Service Charge On Acquiring Fee
          %td.value
            = @imt_record.sc_on_acquiring_fee
        %tr
          %td.label NPCI Charges
          %td.value
            = @imt_record.npci_charges
        %tr
          %td.label Service Charge On NPCI Charges
          %td.value
            = @imt_record.sc_on_npci_charges
        %tr
          %td.label Total Net Position
          %td.value
            = @imt_record.total_net_position
        %tr
          %td.label Settlement At
          %td.value
            = @imt_record.settlement_at.try(:strftime, "%d/%m/%Y %I:%M%p") rescue ""
        %tr
          %td.label Settlement Status
          %td.value
            = @imt_record.settlement_status
        %tr
          %td.label Settlement Attempt No
          %td.value
            = @imt_record.settlement_attempt_no
        %tr
          %td.label Settlement Bank Ref
          %td.value
            = @imt_record.settlement_bank_ref
        %tr
          %td.label Total Net Position
          %td.value
            = @imt_record.total_net_position
#recordText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Record Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .demo-area
      %button#d_clip_button1.my_clip_button1{"data-clipboard-target" => "record_txt"}
        %b Copy To Clipboard...
    %pre#record_txt{:style => 'word-wrap: break-word'}
      .reply{:style => 'word-wrap: break-word'}