%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = form_tag iam_cust_users_path, :method => :put, :class => 'form-horizontal', :autocomplete=>"off" do
    .control-group
      = label_tag "Username", "Username", :class => 'control-label'
      = text_field_tag :username, params[:username]
    .control-group
      = label_tag "Email ID", "Email ID", :class => 'control-label'
      = text_field_tag :email, params[:email]
    .control-group
      = label_tag "Mobile Number", "Mobile Number", :class => 'control-label'
      = text_field_tag :mobile_no, params[:mobile_no]
    = hidden_field_tag :page, params[:page] || 1
    .form-actions
      = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
      = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'

- if @searcher.errors.present?
  :javascript
    $('.collapsible-content').show(); 

= advanced_search_page_links