= simple_form_for @iam_cust_user, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "iam_cust_user_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@iam_cust_user, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :username, "*Username", :class => 'control-label'
      = f.text_field :username, maxlength: 100
      #msg-error
        = error_message_for(@iam_cust_user, :username, :prepend_text => "")
    .control-group
      = f.label :first_name, "*First Name", :class => 'control-label'
      = f.text_field :first_name, maxlength: 100
      #msg-error
        = error_message_for(@iam_cust_user, :first_name, :prepend_text => "")
    .control-group
      = f.label :last_name, "Last Name", :class => 'control-label'
      = f.text_field :last_name, maxlength: 100
      #msg-error
        = error_message_for(@iam_cust_user, :last_name, :prepend_text => "")
    .control-group
      = f.label :email, "*Email", :class => 'control-label'
      = f.text_field :email, maxlength: 100
      #msg-error
        = error_message_for(@iam_cust_user, :email, :prepend_text => "")
    .control-group
      = f.label :mobile_no, "*Mobile Number", :class => 'control-label'
      = f.text_field :mobile_no, maxlength: 10
      #msg-error
        = error_message_for(@iam_cust_user, :mobile_no, :prepend_text => "")
    - unless action_name == 'new'
      .control-group
        = f.label :should_reset_password, "Reset Password?", :class => 'control-label'
        = f.check_box :should_reset_password, {},"Y","N"
      .control-group
        = f.label :is_enabled, "Enabled?", :class => 'control-label'
        = f.check_box :is_enabled, {},"Y","N"

  .form-actions
    - (f.object.new_record? and f.object.username.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_iam_cust_user', :value => label_name + ' Customer User'
    = link_to :Cancel,'/iam_cust_users', :name => 'cancel', :class=>"cancel btn"