<meta http-equiv="content-security-policy"
  content="default-src 'none'; script-src 'self';
  connect-src 'self'; img-src 'self';
  style-src 'self' 'sha256-CwE3Bg0VYQOIdNAkbB/Btdkhul49qZuwgNCMPgNY5zw=';" />
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

$(document).ready(function(){
        $('#myTable').after('<div id="nav"></div>');
        var rowsShown = 20;
        var rowsTotal = $('#myTable tbody tr').length;
        var numPages = rowsTotal/rowsShown;
        for(i = 0;i < numPages;i++) {
            var pageNum = i + 1;
            $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
        }
        $('#myTable tbody tr').hide();
        $('#myTable tbody tr').slice(0, rowsShown).show();
        $('#nav a:first').addClass('active');
        $('#nav a').bind('click', function(){

            $('#nav a').removeClass('active');
            $(this).addClass('active');
            var currPage = $(this).attr('rel');
            var startItem = currPage * rowsShown;
            var endItem = startItem + rowsShown;
            $('#myTable tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                    css('display','table-row').animate({opacity:1}, 300);
        });
    });
</script>

<h1>Listing LDAP Users</h1>

<br/>
<br/>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For LDAP Names.." title="Type in a name">
<br/>
<br/>
<table class="table table-bordered table-striped table-hover" id='myTable'>
  <div class="thead">
    <th style="text-align:left; background-color: lightblue;">
      Sr. No.
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Account Name
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Username
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Crerated TimeStamp
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Last Login TimeStamp
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Delete User
    </th>
  </div>
  <% @cnt = 0 %>
  <div class="tbody">
    <% @users_list.each do |record| %>
      <tr>
        <td>
          <%= @cnt = @cnt+1 %>
        </td>
          <td style="text-align:left;">
            <%= record[0].join('') %>
          </td>
          <td style="text-align:left;">
            <%= record[1].join('') %>
          </td>
          <td style="text-align:left;">
            <%= created_time_change(record[2].join(''))%>
          </td>
          <td style="text-align:left;">
            <%= last_login_time_change(record[3].join(''))%>
          </td>
          <%deleted_user = ldap_deleted_users(record[0].join(''))%>

      <td style="text-align:left;">
         <%= button_to 'Delete User',{:action=>"delete_user_from_list",:username=> record[0].join('')},data: {confirm: 'You want to delete the LDAP user?'},:remote=> true,class: "btn btn-primary",:disabled => deleted_user%>      
      </td>
    </tr>
    <% end %>
  </div>
</table>



