%h1 Listing LDAP Users
%br/
%br/
%br/
= will_paginate @users_list, :page_links => true
%table#myTable.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style => "text-align:left; background-color: lightblue;"}
      Sr. No.
    %th{:style => "text-align:left; background-color: lightblue;"}
      Account Name
    %th{:style => "text-align:left; background-color: lightblue;"}
      Username
    %th{:style => "text-align:left; background-color: lightblue;"}
      Crerated TimeStamp
    %th{:style => "text-align:left; background-color: lightblue;"}
      Last Login TimeStamp
    %th{:style => "text-align:left; background-color: lightblue;"}
      Delete User
  - @cnt = 0
  .tbody
    - @users_list.each do |record|
      %tr
        %td
          = @cnt = @cnt+1
        %td{:style => "text-align:left;"}
          = record[0].join('')
        %td{:style => "text-align:left;"}
          = record[1].join('')
        %td{:style => "text-align:left;"}
          = created_time_change(record[2].join(''))
        %td{:style => "text-align:left;"}
          = last_login_time_change(record[3].join(''))
        - deleted_user = ldap_deleted_users(record[0].join(''))
        %td{:style => "text-align:left;"}
          = button_to 'Delete User',{:action=>"delete_user_from_list",:username=> record[0].join('')},data: {confirm: 'You want to delete the LDAP user?'},:remote=> true,class: "btn btn-primary",:disabled => deleted_user
s