<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Security-Policy" content="default-src 'self';">
<script nonce="EDNnf03nceIOfn39fn3e9h3sdfa">
function searchTable() {
  alert("page..")
    var input, filter, found, table, tr, td, i, j;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        for (j = 0; j < td.length; j++) {
            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                found = true;
            }
        }
        if (found) {
            tr[i].style.display = "";
            found = false;
        } else {
            tr[i].style.display = "none";
        }
    }
}
</script>
</head>
<body>

<h1>Listing LDAP Users</h1>

<br/>
<br/>
<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search For LDAP Names.." title="Type in a name">
<br/>
<br/>
<%= will_paginate @users_list, :page_links => true%>
<table class="table table-bordered table-striped table-hover" id='myTable'>
  <div class="thead">
    <th style="text-align:left; background-color: lightblue;">
      Sr. No.
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Account Name
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Username
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Crerated TimeStamp
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Last Login TimeStamp
    </th>
    <th style="text-align:left; background-color: lightblue;">
      Delete User
    </th>
  </div>
  <% @cnt = 0 %>
  <div class="tbody">
    <% @users_list.each do |record| %>
      <tr>
        <td>
          <%= @cnt = @cnt+1 %>
        </td>
          <td style="text-align:left;">
            <%= record[0].join('') %>
          </td>
          <td style="text-align:left;">
            <%= record[1].join('') %>
          </td>
          <td style="text-align:left;">
            <%= created_time_change(record[2].join(''))%>
          </td>
          <td style="text-align:left;">
            <%= last_login_time_change(record[3].join(''))%>
          </td>
          <%deleted_user = ldap_deleted_users(record[0].join(''))%>

      <td style="text-align:left;">
         <%= button_to 'Delete User',{:action=>"delete_user_from_list",:username=> record[0].join('')},data: {confirm: 'You want to delete the LDAP user?'},:remote=> true,class: "btn btn-primary",:disabled => deleted_user%>      
      </td>
    </tr>
    <% end %>
  </div>
</table>
</body>
</html>



