.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; margin: 1%;'}
    #form-details
      %h3 IAM Customer User Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @iam_cust_user
        %a.btn{:href => "#{!(can) ? '#' : '/iam_cust_users/' + @iam_cust_user.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'unapproved_records/approve', :@record => @iam_cust_user
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
        - if !@iam_cust_user.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@iam_cust_user)}", :controller => :iam_cust_users, :action => :audit_logs, :version_id => audit_count(@iam_cust_user), :id => @iam_cust_user.id
          %tr
            %td.label Errors
            %td.value
              = @ldap_error
          %tr
            %td.label Username
            %td.value
              = @iam_cust_user.username
            %td#msg-error
              = error_message_for(@iam_cust_user, :username, :prepend_text => "")
          %tr
            %td.label First Name
            %td
              = @iam_cust_user.first_name
            %td#msg-error
              = error_message_for(@iam_cust_user, :first_name, :prepend_text => "")
          %tr
            %td.label Last Name
            %td.value
              = @iam_cust_user.last_name
            %td#msg-error
              = error_message_for(@iam_cust_user, :last_name, :prepend_text => "")
          %tr
            %td.label Email ID
            %td
              = @iam_cust_user.email
            %td#msg-error
              = error_message_for(@iam_cust_user, :email, :prepend_text => "")
          %tr
            %td.label Mobile Number
            %td
              = @iam_cust_user.mobile_no
            %td#msg-error
              = error_message_for(@iam_cust_user, :mobile_no, :prepend_text => "")
          %tr
            %td.label Reset Password
            %td
              = @iam_cust_user.should_reset_password
            %td#msg-error
              = error_message_for(@iam_cust_user, :should_reset_password, :prepend_text => "")
          %tr
            %td.label Last Password Reset At
            %td
              = @iam_cust_user.last_password_reset_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@iam_cust_user, :last_password_reset_at, :prepend_text => "")
          %tr
            %td.label Notification Sent At
            %td
              = @iam_cust_user.notification_sent_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@iam_cust_user, :notification_sent_at, :prepend_text => "")
          %tr
            %td.label Created By
            %td.value
              = @iam_cust_user.created_user.try(:username)
            %td#msg-error
              = error_message_for(@iam_cust_user, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @iam_cust_user.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@iam_cust_user, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @iam_cust_user.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@iam_cust_user, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @iam_cust_user.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@iam_cust_user, :updated_at, :prepend_text => "")

      = link_to 'Test Login', connect_to_ldap_iam_cust_user_path(@iam_cust_user, login: true), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}
      = link_to 'Resend Password', '#', class: "resend-link btn btn-primary", :href => "javascript:void()"
      = link_to 'Add LDAP Entry', '#', class: "add-link btn btn-primary", :href => "javascript:void()"
      %div{ id:"modal-window", class:"modal hide fade", role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden' => "true"}

#resendPassword.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Acknowledge
  .modal-body{:style => "max-height:450px;"}
    Are you sure ?
    &nbsp
    = link_to 'Send', connect_to_ldap_iam_cust_user_path(@iam_cust_user, resend_password: true), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary', id: 'resend'}
#addUser.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Acknowledge
  .modal-body{:style => "max-height:450px;"}
    Are you sure ?
    &nbsp
    = link_to 'Add', connect_to_ldap_iam_cust_user_path(@iam_cust_user, add_user: true), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary', id: 'add'}
