= simple_form_for @ns_callback, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "ns_callback_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ns_callback, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    = f.hidden_field :settings_cnt
    .control-group
      = f.label :app_code, "*App Code", :class => 'control-label'
      = f.text_field :app_code, :readonly => true, :maxlength => 50
      #msg-error
        = error_message_for(@ns_callback, :app_code, :prepend_text => "")
    .control-group
      = f.label :notify_url, "Notify URL", :class => 'control-label'
      = f.text_field :notify_url, :maxlength => 100
      #msg-error
        = error_message_for(@ns_callback, :notify_url, :prepend_text => "")
    .control-group
      = f.label :http_username, "HTTP Username", :class => 'control-label'
      = f.text_field :http_username, :maxlength => 50
      #msg-error
        = error_message_for(@ns_callback, :http_username, :prepend_text => "")
    .control-group
      = f.label :http_password, "HTTP Password", :class => 'control-label'
      = f.password_field :http_password, :value => f.object.http_password, :maxlength => 50
      #msg-error
        = error_message_for(@ns_callback, :http_password, :prepend_text => "")
    .control-group
      - if @ns_callback.settings_cnt > 0
        - (1..@ns_callback.settings_cnt).each do |i|
          = f.label @ns_callback.send("setting#{i}_name")
          = f.send("#{@ns_callback["setting#{i}"]["setting#{i}_type"] || 'text'}_field", "setting#{i}_value")
          = f.hidden_field "setting#{i}_name", value: @ns_callback.send("setting#{i}_name")
          = f.hidden_field "setting#{i}_type", value: @ns_callback.send("setting#{i}_type")
          %br
    .control-group
      - if @ns_callback.udfs_cnt > 0
        - (1..@ns_callback.udfs_cnt).each do |i|
          = f.hidden_field "udf#{i}_name", value: @ns_callback.send("udf#{i}_name")
          = f.hidden_field "udf#{i}_type", value: @ns_callback.send("udf#{i}_type")

  .form-actions
    - (f.object.new_record? and f.object.app_code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_ns_callback', :value => label_name + ' Callback'
    = link_to :Cancel,'/ns_callbacks', :name => 'cancel', :class=>"cancel btn"