.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 Template Details
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @ns_template
        %a.btn{:href => "#{!(can) ? '#' : '/ns_templates/' + @ns_template.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'unapproved_records/approve', :@record => @ns_template
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@ns_template.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@ns_template)}", :controller => :ns_templates, :action => :audit_logs, :version_id => audit_count(@ns_template), :id => @ns_template.id
          %tr
            %td.label Event
            %td.value
              = @ns_template.sc_event.try(:event)
            %td
          %tr
            %td.label SMS Template
            %td.value
              = @ns_template.sms_template
            %td
          %tr
            %td.label Email Template
            %td.value
              = @ns_template.email_template
            %td
          %tr
            %td.label Created At
            %td.value
              = @ns_template.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td
          %tr
            %td.label Updated At
            %td.value
              = @ns_template.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td
