.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;  height:630px;'}
    #form-details
      %h3 Su Incoming Record
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px;'}
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label Version
          %td.value
            = link_to "#{audit_count(@su_record)}", :controller => :su_incoming_records, :action => :audit_logs, :version_id => audit_count(@su_record.incoming_file_record), :id => @su_record.incoming_file_record_id

        %tr
          %td.label File Name 
          %td.value
            = @su_record.file_name
        %tr
          %td.label Corporate Account No
          %td.value
            = @su_record.corp_account_no
        %tr
          %td.label Corporate Reference No
          %td.value
            = @su_record.corp_ref_no
        %tr
          %td.label Corporate Statement
          %td.value
            = @su_record.corp_stmt_txt
        %tr
          %td.label Employee Account No
          %td.value
            = @su_record.emp_account_no
        %tr
          %td.label Employee Name
          %td.value
            = @su_record.emp_name
        %tr
          %td.label Employee Reference No
          %td.value
            = @su_record.emp_ref_no
        %tr
          %td.label Salary Amount 
          %td.value
            = @su_record.salary_amount
        %tr
          %td.label Employee Statement
          %td.value
            = @su_record.emp_stmt_txt
        %tr
          %td.label Account Name
          %td.value
            = @su_record.account_name
        %tr
          %td.label Distance In Name
          %td.value
            = @su_record.distance_in_name
