.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;  height:630px;'}
    #form-details
      %h3 Corporate Net Banking Incoming File
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px;'}
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label File Name
          %td.value
            = @summary.try(:file_name)
        %tr
          %td.label Batch No
          %td.value
            = @summary.try(:batch_no)
        %tr
          %td.label Rejected File Name
          %td.value
            = @summary.try(:rej_file_name)
        %tr
          %td.label Rejected File Path
          %td.value
            = @summary.try(:rej_file_path)
        %tr
          %td.label Rejected File Status
          %td.value
            = @summary.try(:rej_file_status)
        %tr
          %td.label CNB File Name
          %td.value
            = @summary.try(:cnb_file_name)
        %tr
          %td.label CNB File Path
          %td.value
            = @summary.try(:cnb_file_path)
        %tr
          %td.label CNB File Status
          %td.value
            = @summary.try(:cnb_file_status)
