.show_ticket      
  .header-form-main{:style=>'background-color: #ecf5fa; width: 50%; height: 120px; display: inline-block;'}
    %h3
      Transaction Reference No:
      = @cn_record.transaction_ref_no
    %h3
      Amount:
      = @cn_record.amount
    %h3
      Version
      = link_to "#{audit_count(@cn_record.incoming_file_record)}", :controller => :ft_incoming_records, :action => :audit_logs, :version_id => audit_count(@cn_record.incoming_file_record), :id => @cn_record.incoming_file_record_id
  .header-form-main{:style=>'background-color: #ecf5fa; width: 50%; height: 120px; display: inline-block;'}
    %h3
      Upload Date:
      = @cn_record.upload_date.try(:strftime, "%d/%m/%Y %I:%M:%S %p")
    %h3
      Message Type:
      = @cn_record.message_type
    %h3
      Record Text:
      - if @cn_record.incoming_file_record.record_txt.nil?
        .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Record Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
          Show Record Text
      - else
        = link_to "Show Record Text", "#", :class => 'show_record_text', :href => "#recordText", data: { record_txt: @cn_record.incoming_file_record.record_txt} 
  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; height: 380px; display: inline-block;'}
    #ticket-details
      %h3
        Remitter Details:
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
        %tr
          %td.label Name
          %td.value
            = @cn_record.rmtr_name
        %tr
          %td.label Remitter Address1
          %td.value
            = @cn_record.rmtr_address1
        %tr
          %td.label
          %td.value
            = @cn_record.rmtr_address2
        %tr
          %td.label 
          %td.value
            = @cn_record.rmtr_address3
        %tr
          %td.label
          %td.value
            = @cn_record.rmtr_address4
        %tr
          %td.label Debit Account No
          %td.value
            = @cn_record.debit_account_no

  .header-form-main{:style=>'background-color: #F1F2F8; width: 50%; height: 380px; display: inline-block;'}
    #ticket-details
      %h3
        Beneficiary Details:
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%"}
        %tr
          %td.label Name
          %td.value
            = @cn_record.bene_name
        %tr
          %td.label Address
          %td.value
            = @cn_record.bene_add_line1
        %tr
          %td.label
          %td.value
            = @cn_record.bene_add_line2
        %tr
          %td.label
          %td.value
            = @cn_record.bene_add_line3
        %tr
          %td.label
          %td.value
            = @cn_record.bene_add_line4
        %tr
          %td.label Beneficiary Account No
          %td.value
            = @cn_record.bene_account_no
        %tr
          %td.label Beneficiary IFSC Code
          %td.value
            = @cn_record.bene_ifsc_code

  .header-form-main{:style=>'background-color: #ecf5fa; width: 100%; display: inline-block; margin-bottom: 2%;'}
    %table.table.no-border
      %tr
        %td.label Remitter To Beneficiary Note
        %td= @cn_record.rmtr_to_bene_note
#recordText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Record Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    .demo-area
      %button#d_clip_button1.my_clip_button1{"data-clipboard-target" => "record_txt"}
        %b Copy To Clipboard...
    %pre#record_txt{:style => 'word-wrap: break-word'}
      .reply{:style => 'word-wrap: break-word'}