= simple_form_for @funds_transfer_customer, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "funds_transfer_customer_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@funds_transfer_customer, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :app_id, "*App ID", :class => 'control-label'
      = f.text_field :app_id, :maxlength => 20
      #msg-error
        = error_message_for(@funds_transfer_customer, :app_id, :prepend_text => "")
    .control-group
      = f.label :is_retail, "Retail ?", :class => 'control-label'
      = f.check_box :is_retail, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :is_retail, :prepend_text => "")
    .control-group
      = f.label :customer_id, "*Customer ID", :class => 'control-label'
      - if f.object.is_retail == 'Y'
        = f.text_field :customer_id, :disabled => true, :maxlength => 10
      - else
        = f.text_field :customer_id, :maxlength => 10
      #msg-error
        = error_message_for(@funds_transfer_customer, :customer_id, :prepend_text => "")
    .control-group
      = f.label :enabled, "Enabled ?", :class => 'control-label'
      = f.check_box :enabled, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :enabled, :prepend_text => "")
    .control-group
      = f.label :name, "*Name", :class => 'control-label'
      = f.text_field :name, :maxlength => 100, :style => "width: 400px;"
      #msg-error
        = error_message_for(@funds_transfer_customer, :name, :prepend_text => "")
    .control-group
      = f.label :reply_with_bene_name, "Beneficiary Name to be verified ?", :class => 'control-label'
      = f.check_box :reply_with_bene_name, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :reply_with_bene_name, :prepend_text => "")
    .control-group
      = f.label :low_balance_alert_at, "*Low Balance Alert At", :class => 'control-label'
      = f.text_field :low_balance_alert_at
      #msg-error
        = error_message_for(@funds_transfer_customer, :low_balance_alert_at, :prepend_text => "")
    .control-group
      = f.label :identity_user_id, "*User Identity", :class => 'control-label'
      = f.text_field :identity_user_id, :maxlength => 20
      #msg-error
        = error_message_for(@funds_transfer_customer, :identity_user_id, :prepend_text => "")
    .control-group
      = f.label :allow_neft, "NEFT Allowed ?", :class => 'control-label'
      = f.check_box :allow_neft, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_neft, :prepend_text => "")
    .control-group
      = f.label :allow_imps, "IMPS Allowed ?", :class => 'control-label'
      = f.check_box :allow_imps, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_imps, :prepend_text => "")
    .control-group
      = f.label :allow_rtgs, "RTGS Allowed ?", :class => 'control-label'
      = f.check_box :allow_rtgs, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_rtgs, :prepend_text => "")
    .control-group
      = f.label :allow_apbs, "APBS Allowed ?", :class => 'control-label'
      = f.check_box :allow_apbs, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_apbs, :prepend_text => "")
    .control-group
      = f.label :apbs_user_no, "APBS User No", :class => 'control-label'
      = f.text_field :apbs_user_no, :maxlength => 20
      #msg-error
        = error_message_for(@funds_transfer_customer, :apbs_user_no, :prepend_text => "")
    .control-group
      = f.label :apbs_user_name, "APBS Username", :class => 'control-label'
      = f.text_field :apbs_user_name
      #msg-error
        = error_message_for(@funds_transfer_customer, :apbs_user_name, :prepend_text => "")
    .control-group
      = f.label :needs_purpose_code, "Needs Purpose Code ?", :class => 'control-label'
      = f.check_box :needs_purpose_code, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :needs_purpose_code, :prepend_text => "")
    .control-group
      = f.label :allow_all_accounts, "Allow All Accounts ?", :class => 'control-label'
      = f.check_box :allow_all_accounts, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_all_accounts, :prepend_text => "")
    .control-group
      = f.label :is_filetoapi_allowed, "FiletoApi Allowed ?", :class => 'control-label'
      = f.check_box :is_filetoapi_allowed, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :is_filetoapi_allowed, :prepend_text => "")
    .control-group
      = f.label :notify_on_status_change, "Notify On Status Change ?", :class => 'control-label'
      = f.check_box :notify_on_status_change, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :notify_on_status_change, :prepend_text => "")
    .control-group
      = f.label :notify_app_code, "Notify App Code", :class => 'control-label'
      = f.text_field :notify_app_code, :maxlength => 20
      #msg-error
        = error_message_for(@funds_transfer_customer, :notify_app_code, :prepend_text => "")
    .control-group
      = f.label :allow_async, "Allow Async ?", :class => 'control-label'
      = f.check_box :allow_async, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_async, :prepend_text => "")
    .control-group
      = f.label :allow_start_transfer, "Allow Start Transfer ?", :class => 'control-label'
      = f.check_box :allow_start_transfer, {},"Y","N"
      #msg-error
        = error_message_for(@funds_transfer_customer, :allow_start_transfer, :prepend_text => "")

  .form-actions
    - (f.object.new_record? and f.object.app_id.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_customer', :value => label_name + ' Funds Transfer Customer'
    = link_to :Cancel,'/funds_transfer_customers', :name => 'cancel', :class=>"cancel btn"

