.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; height: 900px;'}
    #form-details
      %h3 Funds Transfer Customer Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @funds_transfer_customer
        %a.btn{:href => "#{!(can) ? '#' : '/funds_transfer_customers/' + @funds_transfer_customer.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'approve', :@record => @funds_transfer_customer
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@funds_transfer_customer.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@funds_transfer_customer)}", :controller => :funds_transfer_customers, :action => :audit_logs, :version_id => audit_count(@funds_transfer_customer), :id => @funds_transfer_customer.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :base, :prepend_text => "")
          %tr
            %td.label App ID
            %td.value
              = @funds_transfer_customer.app_id
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :app_id, :prepend_text => "")
          %tr
            %td.label Customer ID
            %td.value
              = @funds_transfer_customer.customer_id
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :customer_id, :prepend_text => "")
          %tr
            %td.label Enabled
            %td.value
              = @funds_transfer_customer.enabled
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :enabled, :prepend_text => "")
          %tr
            %td.label Name
            %td.value
              = @funds_transfer_customer.name
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :name, :prepend_text => "")
          %tr
            %td.label Beneficiary Name to be verified ?
            %td.value
              = @funds_transfer_customer.reply_with_bene_name
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :reply_with_bene_name, :prepend_text => "")
          %tr
            %td.label Low Balance Alert At
            %td.value
              = @funds_transfer_customer.low_balance_alert_at
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :low_balance_alert_at, :prepend_text => "")
          %tr
            %td.label Identity User ID
            %td.value
              = @funds_transfer_customer.identity_user_id
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :identity_user_id, :prepend_text => "")
          %tr
            %td.label Retail
            %td.value
              = @funds_transfer_customer.is_retail
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :is_retail, :prepend_text => "")
          %tr
            %td.label NEFT Allowed
            %td.value
              = @funds_transfer_customer.allow_neft
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :allow_neft, :prepend_text => "")
          %tr
            %td.label IMPS Allowed
            %td.value
              = @funds_transfer_customer.allow_imps
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :allow_imps, :prepend_text => "")
          %tr
            %td.label RTGS Allowed
            %td.value
              = @funds_transfer_customer.allow_rtgs
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :allow_rtgs, :prepend_text => "")
          %tr
            %td.label Needs Purpose Code
            %td.value
              = @funds_transfer_customer.needs_purpose_code
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :needs_purpose_code, :prepend_text => "")
          %tr
            %td.label Allow All Accounts
            %td.value
              = @funds_transfer_customer.allow_all_accounts
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :allow_all_accounts, :prepend_text => "")
          %tr
            %td.label FiletoApi Allowed?
            %td.value
              = @funds_transfer_customer.is_filetoapi_allowed
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :ais_filetoapi_allowed, :prepend_text => "")
          %tr
            %td.label Created By
            %td.value
              = @funds_transfer_customer.created_user.try(:username)
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @funds_transfer_customer.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @funds_transfer_customer.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @funds_transfer_customer.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@funds_transfer_customer, :updated_at, :prepend_text => "")
