= simple_form_for @rc_app, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "rc_app_form"} do |f|
  .control-group
    - if @rc_app.errors.any?
      #msg-error
        - @rc_app.errors.full_messages.each do |msg|
          = msg
          %br
  .form-main
    = f.hidden_field :lock_version
    .control-group
      = f.label :app_id, "*App ID", :class => 'control-label'
      = f.text_field :app_id, :readonly => true
    .control-group
      = f.label :url, "*URL", :class => 'control-label'
      = f.text_field :url
    .control-group
      = f.label :http_username, "HTTP Username", :class => 'control-label'
      = f.text_field :http_username
    .control-group
      = f.label :http_password, "HTTP Password", :class => 'control-label'
      = f.password_field :http_password, :required => true, :maxlength => 255, :value => f.object.http_password
    .control-group
      - if @rc_app.settings_cnt > 0
        - (1..@rc_app.settings_cnt).each do |i|
          = f.label @rc_app.send("setting#{i}_name")
          = f.send("#{@rc_app["setting#{i}"]["setting#{i}_type"] || 'text'}_field", "setting#{i}_value")
          %br

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_rc_app', :value => label_name + ' RC App'
    = link_to :Cancel,'/rc_apps', :name => 'cancel', :class=>"cancel btn"