= simple_form_for @rc_app, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "rc_app_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@rc_app, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    .control-group
      = f.label :app_id, "*App ID", :class => 'control-label'
      = f.text_field :app_id, :maxlength => 20
      #msg-error
        = error_message_for(@rc_app, :app_id, :prepend_text => "")
  .fieldset
    %table.table.datatable
      %thead
        %tr
          %th UDF
          %th Name
          %th Type
          %th Mandatory
      %tbody
        - (1..5).each do |i|
          %tr
            %td
              = i
            %td
              = f.text_field "udf#{i}_name"
            %td
              = f.select "udf#{i}_type", RcApp.udf_types.map { |key, value| [key.humanize, key] }
            %td
              = f.check_box "udf#{i}_is_mandatory", {},"Y","N"

  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_rc_app', :value => label_name + ' RC App'
    = link_to :Cancel,'/rc_apps', :name => 'cancel', :class=>"cancel btn"