%br
= link_to 'New PC Fee Rule', new_pc_fee_rule_path
%br
%br
%h1 Listing PC Fee Rule
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@pc_fee_rules_count}"
%br
= will_paginate @pc_fee_rules
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      App ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Transaction Kind
    %th{:style=>'text-align:left; background-color: lightblue;'}
      No. Of Tiers

  .tbody
    - @pc_fee_rules.each do |pc_fee_rule|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', pc_fee_rule
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_pc_fee_rule_path(pc_fee_rule)
        %td{:style=>'text-align:left;'}
          = pc_fee_rule.app_id
        %td{:style=>'text-align:left;'}
          = pc_fee_rule.txn_kind
        %td{:style=>'text-align:left;'}
          = pc_fee_rule.no_of_tiers