= simple_form_for @pc_program, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "pc_program_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@pc_program, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :is_enabled, "Enabled?", :class => 'control-label'
      - if f.object.is_enabled.nil?
        = f.check_box :is_enabled, {:checked => "checked"},"Y","N"
      - else 
        = f.check_box :is_enabled, {},"Y","N"
      #msg-error
        = error_message_for(@pc_program, :is_enabled, :prepend_text => "")
    .control-group
      = f.label :code, "*Code", :class => 'control-label'
      = f.text_field :code, :required => true, :maxlength => 15
      #msg-error
        = error_message_for(@pc_program, :code, :prepend_text => "")
  .form-actions
    - (f.object.new_record? and f.object.code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_pc_program', :value => label_name + ' PC Program'
    = link_to :Cancel,'/pc_programs', :name => 'cancel', :class=>"cancel btn"