%br
= link_to 'New PC Program', new_pc_program_path
%br
%br
%h1 Listing PC Programs
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@pc_programs_count}"
%br
= will_paginate @pc_programs
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Is Enabled?

  .tbody
    - @pc_programs.each do |pc_program|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', pc_program
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_pc_program_path(pc_program)
        %td{:style=>'text-align:left;'}
          = pc_program.code
        %td{:style=>'text-align:left;'}
          = pc_program.is_enabled