%br
%br
%h1 File Summary
%br
- unless @incoming_file.auto_upload?
  %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
    = render 'ecol_customers/approve', :@record => @incoming_file
- if @incoming_file.service_name == "AML" && @incoming_file.auto_upload?
  %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
    = render 'incoming_files/approve', :@record => @incoming_file    
%table.table.table-bordered.table-striped.table-hover.align_center{:style=>'width:45%;float: left; margin-right: 2%;'}
  %thead
    %tr 
      %th{:style=>'text-align:left;'}
        = @incoming_file.file_name
      %th
  %tbody
    %tr
      %td{:style=>'text-align:left;'}
        = "Service Name"
      %td{:style=>'text-align:left;'}
        = @incoming_file.service_name
    %tr
      %td{:style=>'text-align:left;'}
        = "File Type"
      %td{:style=>'text-align:left;'}
        = @incoming_file.file_type
    %tr
      %td{:style=>'text-align:left;'}
        = "Upload Started At"
      %td{:style=>'text-align:left;'}
        = @incoming_file.started_at.try(:strftime, "%d/%m/%Y %I:%M%p") rescue ""
    %tr
      %td{:style=>'text-align:left;'}
        = "Upload Time"
      %td{:style=>'text-align:left;'}
        = @incoming_file.upload_time
    %tr
      %td{:style=>'text-align:left;'}
        = "File Path"
      %td{:style=>'text-align:left;'}
        = @incoming_file.file_path
    %tr
      %td{:style=>'text-align:left;'}
        = "File Size"
      %td{:style=>'text-align:left;'}
        = @incoming_file.size_in_bytes
    %tr
      %td{:style=>'text-align:left;'}
        = "Line Count"
      %td{:style=>'text-align:left;'}
        = @incoming_file.line_count
    %tr
      %td{:style=>'text-align:left;'}
        = "Pending Approval"
      %td{:style=>'text-align:left;font-weight: bold;'}
        = @incoming_file.pending_approval
        &nbsp;&nbsp;
        - if @incoming_file.pending_approval == 'Y' && @incoming_file.service_name != "ECOL"
          - if @incoming_file.last_process_step.nil?
            = render :partial => "process_file"
            = render :partial => "reject"
          - elsif @incoming_file.last_process_step == 'B'
            = render :partial => "process_file"
          - elsif @incoming_file.last_process_step == 'R'
            = render :partial => "process_file"
        - elsif @incoming_file.pending_approval == 'Y' && @incoming_file.service_name == "ECOL"    
          = render :partial => "ecol_process_file"
%table.table.table-bordered.table-striped.table-hover.align_center{:style=>'width:45%;float: right;'}
  %thead
    %tr 
      %th{:style=>'text-align:left;'}
        = "Status"
      %th
  %tbody
    %tr
      %td{:style=>'text-align:left;'}
        = "Status"
      %td{:style=>'text-align:left;'}
        = @incoming_file.job_status
        - if @incoming_file.status == 'F'
          = " | "
          = link_to "Show Fault Text", "#", :class => 'active-link', :href => "#faultText", data: { fault_reason: @incoming_file.fault_reason, fault_code: @incoming_file.fault_code, fault_subcode: @incoming_file.fault_subcode}
    %tr
      %td{:style=>'text-align:left;'}
        = "Last Process Step"
      %td{:style=>'text-align:left;'}
        = @incoming_file.last_process_step
        - if @incoming_file.pending_approval == 'Y' and (@incoming_file.last_process_step.nil? or @incoming_file.last_process_step == 'R')
          = link_to "Show Fault Text", "#", :class => 'active-link', :href => "#faultText", data: { fault_reason: @incoming_file.fault_reason, fault_code: @incoming_file.fault_code, fault_subcode: @incoming_file.fault_subcode}
    %tr
      %td{:style=>'text-align:left;'}
        = "Broker UUID"
      %td{:style=>'text-align:left;'}
        = @incoming_file.broker_uuid
    %tr
      %td{:style=>'text-align:left;'}
        = "Alert Count"
      %td{:style=>'text-align:left;'}
        = @incoming_file.alert_count
    %tr
      %td{:style=>'text-align:left;'}
        = "Last Alert At"
      %td{:style=>'text-align:left;'}
        = @incoming_file.last_alert_at.try(:strftime, "%d/%m/%Y %I:%M%p") rescue ""
    %tr
      %td{:style=>'text-align:left;'}
        = "Audit Steps"
      %td{:style=>'text-align:left;'}
        = link_to 'Show', {:controller => 'incoming_files', :action => 'audit_steps', :id => @incoming_file.id, :step_name => 'ALL'}
      - if !@incoming_file.incoming_file_type.records_table.nil? and has_route?({:controller => @incoming_file.incoming_file_type.records_table, :action => 'incoming_file_summary'})
        %tr
          %td{:style=>'text-align:left;'}
            = 'Other Details'
          %td{:style=>'text-align:left;'}
            = link_to 'Show', {:controller => @incoming_file.incoming_file_type.records_table, :action => 'incoming_file_summary', :file_name => @incoming_file.file_name}

- if @incoming_file.incoming_file_type.is_file_mapper == 'N'
  = render partial: 'incoming_records', locals: {incoming_file: @incoming_file}
- else
  = render partial: 'file_mapper', locals: {incoming_file: @incoming_file}

#faultText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Fault Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    %table.table.no-border
      %tr
        %td.label Fault Code: 
        %td
          %label.fault_code{:style => 'word-wrap: break-word'}
      %tr
        %td.label Fault Reason:
        %td
          %label.fault_reason{:style => 'word-wrap: break-word'}
      %tr
        %td.label Fault Subcode:
        %td
          %label.fault_subcode{:style => 'word-wrap: break-word'}
