%br

= link_to 'New File Upload', new_incoming_file_path(:sc_service => params[:sc_service]) unless @sc_service.has_auto_upload?

%br
%br
%h1 Uploaded Files
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@files_count}"
%br
= will_paginate @incoming_files
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Service Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      File Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      File Name
    %th{:style=>'text-align:left; background-color: lightblue;'}
      File Size
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Line Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Status
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Upload Started At
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Upload Time
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Failed Record Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fault Text
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Record Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Skipped Record Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Completed Record Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Timed Out Record Count
  .tbody
    - @incoming_files.each do |incoming_file|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', :controller => "incoming_files", :action => "show", :id => incoming_file.id
        %td{:style=>'text-align:left;'}
          = link_to 'Summary', :controller => "incoming_files", :action => "show_files", :id => incoming_file.id
        %td{:style=>'text-align:left;'}
          - if incoming_file.approval_status == "U"
            = link_to 'Destroy', incoming_file, :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td{:style=>'text-align:left;'}
          = incoming_file.sc_service.try(:name) || incoming_file.service_name
        %td{:style=>'text-align:left;'}
          = incoming_file.incoming_file_type.try(:name) || incoming_file.file_type
        %td{:style=>'text-align:left;'}
          - if (incoming_file.incoming_file_type.present? && incoming_file.incoming_file_type.auto_upload == "Y")
            = incoming_file.file_name
          - else
            = link_to incoming_file.file_name, {:controller => "incoming_files", :action => "view_raw_content", :id => incoming_file.id}
        %td{:style=>'text-align:left;'}
          = incoming_file.size_in_bytes
        %td{:style=>'text-align:left;'}
          = incoming_file.line_count
        %td{:style=>'text-align:left;'}
          = incoming_file.job_status
        %td{:style=>'text-align:left;'}
          = incoming_file.started_at.utc.try(:strftime, "%d/%m/%Y %I:%M%p") rescue ""
        %td{:style=>'text-align:left;'}
          = incoming_file.upload_time
        %td{:style=>'text-align:left;'}
          = incoming_file.failed_record_count
        %td{:style=>'text-align:left;'}
          - if incoming_file.fault_code.nil? or incoming_file.fault_reason.nil?
            .span{:class =>"has-tooltip", "data-toggle" => 'tooltip',"title" => "No Fault Text Available for this record", "data-placement" => 'bottom', "data-html" => true}
              Show Fault Text
          - else
            = link_to "Show Fault Text", "#", :class => 'active-link', :href => "#faultText", data: { fault_reason: incoming_file.fault_reason, fault_code: incoming_file.fault_code, fault_subcode: incoming_file.fault_subcode}
        %td{:style=>'text-align:left;'}
          = incoming_file.record_count
        %td{:style=>'text-align:left;'}
          = incoming_file.skipped_record_count
        %td{:style=>'text-align:left;'}
          = incoming_file.completed_record_count
        %td{:style=>'text-align:left;'}
          = incoming_file.timedout_record_count
#faultText.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Fault Text
    #error_message{:style => 'color:red'}
  .modal-body{:style => "max-height:450px;"}
    %table.table.no-border
      %tr
        %td.label Fault Code: 
        %td
          %label.fault_code{:style => 'word-wrap: break-word'}
      %tr
        %td.label Fault Reason:
        %td
          %label.fault_reason{:style => 'word-wrap: break-word'}
      %tr
        %td.label Fault Subcode:
        %td
          %label.fault_subcode{:style => 'word-wrap: break-word'}