%br
%br
%h1 File Summary
%br

%h1 
  = @incoming_file.file_name
%br
%p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
  = render 'ecol_customers/approve', :@record => @incoming_file
%table.table.table-bordered.table-striped.table-hover.align_center
  %thead
    %tr
      %th{:style=>'text-align:left;'}
      %th{:style=>'text-align:left;'}
        Total Records
      %th{:style=>'text-align:left;'}
        Skipped
      %th{:style=>'text-align:left;'}
        Success
      %th{:style=>'text-align:left;'}
        Failed
  %tbody
    %tr
      - if @incoming_file.service_name == 'ECOL'
        %td{:style=>'text-align:left;'}
          = "Remitter"    
        %td{:style=>'text-align:left;'}
          = @incoming_file.ecol_remitters.count(:id) + @incoming_file.incoming_file_records.count(:id)
        %td{:style=>'text-align:left;'}
          = link_to @incoming_file.ecol_remitters.count(:id), ecol_remitters_path(:incoming_file_id => @incoming_file.id)
        %td{:style=>'text-align:left;'}
          = link_to @incoming_file.failed_records.count(:id), incoming_file_records_path(:incoming_file_id => @incoming_file.id, :status => 'FAILED')

      - elsif @incoming_file.service_name == 'IMTSERVICE'
        %td{:style=>'text-align:left;'}
          = "IMT Transaction"
        %td{:style=>'text-align:left;'}
          = @incoming_file.incoming_file_records.count(:id)
        %td{:style=>'text-align:left;'}
          = link_to @skipped_count, incoming_file_records_path(:incoming_file_id => @incoming_file.id, :status => 'SKIPPED')
        %td{:style=>'text-align:left;'}
          = link_to @success_count, incoming_file_records_path(:incoming_file_id => @incoming_file.id, :status => 'COMPLETED')
        %td{:style=>'text-align:left;'}
          = link_to @failure_count, incoming_file_records_path(:incoming_file_id => @incoming_file.id, :status => 'FAILED')