= form_tag '', :method => 'get', :class => 'form-horizontal', :autocomplete=>"off" do
  .control-group
    = label_tag "Corporate Customer ID", "Corporate Customer ID", :class => 'control-label'
    = text_field_tag :corp_customer_id, params[:corp_customer_id]
  .control-group
    = label_tag "Supplier Code", nil, :class => 'control-label'
    = text_field_tag :supplier_code, params[:supplier_code]
  .control-group
    = label_tag "Invoice No", nil, :class => 'control-label'
    = text_field_tag :invoice_no, params[:invoice_no]
  .control-group
    = label_tag "Invoice Date", nil, :class => 'control-label'    
    = text_field_tag :from_date, params[:from_date]
    To
    = text_field_tag :to_date, params[:to_date]
  .control-group
    = label_tag "Invoice Due Date", nil, :class => 'control-label'    
    = text_field_tag :invoice_from_due_date, params[:invoice_from_due_date]
    To
    = text_field_tag :invoice_to_due_date, params[:invoice_to_due_date]
  .control-group
    = label_tag "Invoice Amount", nil, :class => 'control-label' 
    = text_field_tag :from_amount, params[:from_amount]
    To
    = text_field_tag :to_amount, params[:to_amount]
  .control-group
    = label_tag "Credit Reference No", nil, :class => 'control-label'
    = text_field_tag :credit_ref_no, params[:credit_ref_no]
  .control-group
    = label_tag "Repaid Amount", nil, :class => 'control-label'
    = text_field_tag :repaid_from_amount, params[:repaid_from_amount]   
    To
    = text_field_tag :repaid_to_amount, params[:repaid_to_amount]
  .control-group
    = label_tag "Repayment Date", nil, :class => 'control-label'
    = text_field_tag :repayment_from_date, params[:repayment_from_date]
    To
    = text_field_tag :repayment_to_date, params[:repayment_to_date]
  .form-actions
    = submit_tag "Search", :name => nil, :class => 'btn btn-primary', :id => "adv_search_button"
    = button_tag "Reset", :type => 'button', :value=>'Reset', :class => 'btn', :id => 'adv_search_reset_button'
  = hidden_field_tag :advanced_search, :true

:javascript
  var in_advanced_search = true;
