%br
%br
%h1 Listing IC Invoices
%h2.collapsible
  Advanced Search
  %span.caret
.collapsible-content
  = render :partial => 'advanced_search'
%br
= "Total Count: #{@ic_invoices_count}"
%br
= will_paginate @ic_invoices
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Corporate Customer ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Supplier Code
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Invoice No
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Invoice Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Invoice Due Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Invoice Amount
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Fee Amount
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Discounted Amount
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Credit Extension Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Credit Reference No
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Incoming NEFT/RTGS UTR 
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Repaid Amount
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Repayment Date
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Repayment Reference No


  .tbody
    - @ic_invoices.each do |ic_invoice|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ic_invoice
        %td{:style=>'text-align:left;'}
          = ic_invoice.corp_customer_id
        %td{:style=>'text-align:left;'}
          = ic_invoice.supplier_code
        %td{:style=>'text-align:left;'}
          = ic_invoice.invoice_no
        %td{:style=>'text-align:left;'}
          = ic_invoice.invoice_date
        %td{:style=>'text-align:left;'}
          = ic_invoice.invoice_due_date
        %td{:style=>'text-align:left;'}
          = ic_invoice.invoice_amount
        %td{:style=>'text-align:left;'}
          = ic_invoice.fee_amount
        %td{:style=>'text-align:left;'}
          = ic_invoice.discounted_amount
        %td{:style=>'text-align:left;'}
          = ic_invoice.credit_date
        %td{:style=>'text-align:left;'}
          = ic_invoice.credit_ref_no
        %td{:style=>'text-align:left;'}
          = ic_invoice.pm_utr
        %td{:style=>'text-align:left;'}
          = ic_invoice.repaid_amount
        %td{:style=>'text-align:left;'}
          = ic_invoice.repayment_date
        %td{:style=>'text-align:left;'}
          = ic_invoice.repayment_ref_no

