.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;  height:630px;'}
    #form-details
      %h3 IC Invoice Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px;'}
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        %tr
          %td.label Corporate Customer ID
          %td.value
            = @ic_invoice.corp_customer_id
          %td#msg-error
            = error_message_for(@ic_invoice, :corp_customer_id, :prepend_text => "")
        %tr
          %td.label Supplier Code
          %td.value
            = @ic_invoice.supplier_code
          %td#msg-error
            = error_message_for(@ic_invoice, :supplier_code, :prepend_text => "")
        %tr
          %td.label Invoice No
          %td.value
            = @ic_invoice.invoice_no
          %td#msg-error
            = error_message_for(@ic_invoice, :invoice_no, :prepend_text => "")
        %tr
          %td.label Invoice Date
          %td.value
            = @ic_invoice.invoice_date.try(:strftime, "%d/%m/%Y") rescue ""
          %td#msg-error
            = error_message_for(@ic_invoice, :invoice_date, :prepend_text => "")
        %tr
          %td.label Invoice Due Date
          %td.value
            = @ic_invoice.invoice_due_date.try(:strftime, "%d/%m/%Y") rescue ""
          %td#msg-error
            = error_message_for(@ic_invoice, :invoice_due_date, :prepend_text => "")
        %tr
          %td.label Invoice Amount
          %td.value
            = @ic_invoice.invoice_amount
          %td#msg-error
            = error_message_for(@ic_invoice, :invoice_amount, :prepend_text => "")
        %tr
          %td.label Fee Amount
          %td.value
            = @ic_invoice.fee_amount
          %td#msg-error
            = error_message_for(@ic_invoice, :fee_amount, :prepend_text => "")
        %tr
          %td.label Discounted Amount
          %td.value
            = @ic_invoice.discounted_amount
          %td#msg-error
            = error_message_for(@ic_invoice, :discounted_amount, :prepend_text => "")
        %tr
          %td.label Credit Extension Date
          %td.value
            = @ic_invoice.credit_date.try(:strftime, "%d/%m/%Y") rescue ""
          %td#msg-error
            = error_message_for(@ic_invoice, :credit_date, :prepend_text => "")
        %tr
          %td.label Credit Reference No
          %td.value
            = @ic_invoice.credit_ref_no
          %td#msg-error
            = error_message_for(@ic_invoice, :credit_ref_no, :prepend_text => "")
        %tr
          %td.label Incoming NEFT/RTGS UTR 
          %td.value
            = @ic_invoice.pm_utr
          %td#msg-error
            = error_message_for(@ic_invoice, :pm_utr, :prepend_text => "")
        %tr
          %td.label Repaid Amount
          %td.value
            = @ic_invoice.repaid_amount
          %td#msg-error
            = error_message_for(@ic_invoice, :repaid_amount, :prepend_text => "")
        %tr
          %td.label Repayment Date
          %td.value
            = @ic_invoice.repayment_date.try(:strftime, "%d/%m/%Y") rescue ""
          %td#msg-error
            = error_message_for(@ic_invoice, :repayment_date, :prepend_text => "")
        %tr
          %td.label Repayment Reference No
          %td.value
            = @ic_invoice.repayment_ref_no
          %td#msg-error
            = error_message_for(@ic_invoice, :repayment_ref_no, :prepend_text => "")