%br
%h1  IAM Audit Rules
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Org UUID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Certificate DN
    %th{:style=>'text-align:left; background-color: lightblue;'} 
      Source IP
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Interval In Mins
  .tbody
    - @iam_audit_rules.each do |iam_audit_rule|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', iam_audit_rule
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_iam_audit_rule_path(iam_audit_rule)
        %td{:style=>'text-align:left;'}
          = iam_audit_rule.org_uuid  
        %td{:style=>'text-align:left;'}
          = iam_audit_rule.cert_dn
        %td{:style=>'text-align:left;'}
          = iam_audit_rule.source_ip                  
        %td{:style=>'text-align:left;'}
          = iam_audit_rule.interval_in_mins
