= simple_form_for @ecol_fetch_statistic, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "ecol_rule_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ecol_fetch_statistic, :base, :prepend_text => "")
  .form-main{:style => 'width:100%'}
    .control-group
      = f.label :last_neft_at, "Last Neft At", :class => 'control-label'
      = f.text_field :last_neft_at
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_neft_at, :prepend_text => "")
    .control-group
      = f.label :last_neft_id, "Last NEFT ID", :class => 'control-label'
      = f.text_field :last_neft_id
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_neft_id, :prepend_text => "")
    .control-group
      = f.label :last_neft_cnt, "Last NEFT Count", :class => 'control-label'
      = f.text_field :last_neft_cnt
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_neft_cnt, :prepend_text => "")
    .control-group
      = f.label :tot_neft_cnt, "Total NEFT Count", :class => 'control-label'
      = f.text_field :tot_neft_cnt
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :tot_neft_cnt, :prepend_text => "")
    .control-group
      = f.label :last_rtgs_at, "Last RTGS At", :class => 'control-label'
      = f.text_field :last_rtgs_at
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_rtgs_at, :prepend_text => "")
    .control-group
      = f.label :last_rtgs_id, "Last RTGS ID", :class => 'control-label'
      = f.text_field :last_rtgs_id
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_rtgs_id, :prepend_text => "")
    .control-group
      = f.label :last_rtgs_cnt, "Last RTGS Count", :class => 'control-label'
      = f.text_field :last_rtgs_cnt
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :last_rtgs_cnt, :prepend_text => "")
    .control-group
      = f.label :tot_rtgs_cnt, "Total RTGS Count", :class => 'control-label'
      = f.text_field :tot_rtgs_cnt
      #msg-error
        = error_message_for(@ecol_fetch_statistic, :tot_rtgs_cnt, :prepend_text => "")

  .form-actions
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_rule', :value => "Create"
    = link_to :Cancel,root_path, :name => 'cancel', :class=>"cancel btn"

