%br
= link_to 'New E-Collect Fetch Statistic', new_ecol_fetch_statistic_path
%br
%br
%h1 Listing E-Collect Customers
%br
= "Total Count: #{@ecol_fetch_statistics_count}"
%br
= will_paginate @ecol_fetch_statistics
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last NEFT At
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last NEFT ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last NEFT Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Total NEFT Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last RTGS At
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last RTGS ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Last RTGS Count
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Total RTGS Count

  .tbody
    - @ecol_fetch_statistics.each do |ecol_fetch_statistic|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ecol_fetch_statistic
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_ecol_fetch_statistic_path(ecol_fetch_statistic)
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_neft_at
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_neft_id
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_neft_cnt
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.tot_neft_cnt
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_rtgs_at
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_rtgs_id
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.last_rtgs_cnt
        %td{:style=>'text-align:left;'}
          = ecol_fetch_statistic.tot_rtgs_cnt

