%h1 Listing post1s

%table
  %thead
    %tr
      %th Name
      %th Role
      %th
      %th
      %th

  %tbody
    - @post1s.each do |post1|
      %tr
        %td= post1.name
        %td= post1.role
        %td= link_to 'Show', post1
        %td= link_to 'Edit', edit_post1_path(post1)
        %td= link_to 'Destroy', post1, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post1', new_post1_path
