= simple_form_for @imt_customer, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "imt_customer_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@imt_customer, :base, :prepend_text => "")
  .form-main
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :customer_code, "*Customer Code", :class => 'control-label'
      = f.text_field :customer_code, :maxlength => 15
      #msg-error
        = error_message_for(@imt_customer, :customer_code, :prepend_text => "")
    .control-group
      = f.label :customer_name, "*Customer Name", :class => 'control-label'
      = f.text_field :customer_name, :maxlength => 100
      #msg-error
        = error_message_for(@imt_customer, :customer_name, :prepend_text => "")
    .control-group
      = f.label :contact_person, "*Contact Person", :class => 'control-label'
      = f.text_field :contact_person, :maxlength => 100
      #msg-error
        = error_message_for(@imt_customer, :customer_name, :prepend_text => "")
    .control-group
      = f.label :email_id, "*Email ID", :class => 'control-label'
      = f.text_field :email_id, :maxlength => 100
      #msg-error
        = error_message_for(@imt_customer, :email_id, :prepend_text => "")
    .control-group
      = f.label :account_no, "*Account No", :class => 'control-label'
      = f.text_field :account_no, :maxlength => 16
      #msg-error
        = error_message_for(@imt_customer, :account_no, :prepend_text => "")
    .control-group
      = f.label :mobile_no, "*Mobile No", :class => 'control-label'
      = f.text_field :mobile_no, :maxlength => 10
      #msg-error
        = error_message_for(@imt_customer, :mobile_no, :prepend_text => "")
    .control-group
      = f.label :expiry_period, "Expiry Period", :class => 'control-label'
      = f.text_field :expiry_period, :maxlength => 10
      #msg-error
        = error_message_for(@imt_customer, :expiry_period, :prepend_text => "")
    .control-group
      = f.label :txn_mode, "*Transaction Mode", :class => 'control-label'
      = f.select :txn_mode, options_for_select(ImtCustomer.options_for_txn_mode, @imt_customer.txn_mode),:prompt => 'SELECT'
      #msg-error
        = error_message_for(@imt_customer, :txn_mode, :prepend_text => "")
    .control-group
      .control-group
        = f.label :address_line1, "Address Line 1", :class => 'control-label'
        = f.text_field :address_line1
        #msg-error
          = error_message_for(@imt_customer, :address_line1, :prepend_text => "")
      .control-group
        = f.label :address_line2, "Address Line 2", :class => 'control-label'
        = f.text_field :address_line2
        #msg-error
          = error_message_for(@imt_customer, :address_line2, :prepend_text => "")
      .control-group
        = f.label :address_line3, "Address Line 3", :class => 'control-label'
        = f.text_field :address_line3
        #msg-error
          = error_message_for(@imt_customer, :address_line3, :prepend_text => "")
      .control-group
        = f.label :country, "Country", :class => 'control-label'
        = f.text_field :country
        #msg-error
          = error_message_for(@imt_customer, :country, :prepend_text => "")

  .form-actions
    - (f.object.new_record? and f.object.customer_code.nil?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_customer', :value => label_name + ' Customer'
    = link_to :Cancel,'/imt_customers', :name => 'cancel', :class=>"cancel btn"

