.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8;'}
    #form-details
      %h3 IMT Customer Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @imt_customer
        %a.btn{:href => "#{!(can) ? '#' : '/imt_customers/' + @imt_customer.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
        = render 'approve', :@record => @imt_customer
      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@imt_customer.nil?
          %tr
            %td.label Version
            %td.value
              = link_to "#{audit_count(@imt_customer)}", :controller => :imt_customers, :action => :audit_logs, :version_id => audit_count(@imt_customer), :id => @imt_customer.id
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@imt_customer, :base, :prepend_text => "")
          %tr
            %td.label Customer Code
            %td.value
              = @imt_customer.customer_code
            %td#msg-error
              = error_message_for(@imt_customer, :customer_code, :prepend_text => "")
          %tr
            %td.label Customer Name
            %td.value
              = @imt_customer.customer_name
            %td#msg-error
              = error_message_for(@imt_customer, :customer_name, :prepend_text => "")
          %tr
            %td.label Contact Person
            %td.value
              = @imt_customer.contact_person
            %td#msg-error
              = error_message_for(@imt_customer, :contact_person, :prepend_text => "")
          %tr
            %td.label Email ID
            %td.value
              = @imt_customer.email_id
            %td#msg-error
              = error_message_for(@imt_customer, :email_id, :prepend_text => "")
          %tr
            %td.label Account No
            %td.value
              = @imt_customer.account_no
            %td#msg-error
              = error_message_for(@imt_customer, :account_no, :prepend_text => "")
          %tr
            %td.label Mobile No
            %td.value
              = @imt_customer.mobile_no
            %td#msg-error
              = error_message_for(@imt_customer, :mobile_no, :prepend_text => "")
          %tr
            %td.label Expiry Period
            %td.value
              = @imt_customer.expiry_period
            %td#msg-error
              = error_message_for(@imt_customer, :expiry_period, :prepend_text => "")
          %tr
            %td.label Transaction Mode
            %td.value
              = @imt_customer.txn_mode
            %td#msg-error
              = error_message_for(@imt_customer, :txn_mode, :prepend_text => "")
          %tr
            %td.label Address Line 1
            %td.value
              = @imt_customer.address_line1
            %td#msg-error
              = error_message_for(@imt_customer, :address_line1, :prepend_text => "")
          %tr
            %td.label Address Line 2
            %td.value
              = @imt_customer.address_line2
            %td#msg-error
              = error_message_for(@imt_customer, :address_line2, :prepend_text => "")
          %tr
            %td.label Address Line 3
            %td.value
              = @imt_customer.address_line3
            %td#msg-error
              = error_message_for(@imt_customer, :address_line3, :prepend_text => "")
          %tr
            %td.label Country
            %td.value
              = @imt_customer.country
            %td#msg-error
              = error_message_for(@imt_customer, :country, :prepend_text => "")
          %tr
            %td.label Created By
            %td.value
              = @imt_customer.created_user.try(:username)
            %td#msg-error
              = error_message_for(@imt_customer, :created_by, :prepend_text => "")
          %tr
            %td.label Updated By
            %td.value
              = @imt_customer.updated_user.try(:username)
            %td#msg-error
              = error_message_for(@imt_customer, :updated_by, :prepend_text => "")
          %tr
            %td.label Created At
            %td.value
              = @imt_customer.created_at.utc.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@imt_customer, :created_at, :prepend_text => "")
          %tr
            %td.label Updated At
            %td.value
              = @imt_customer.updated_at.utc.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@imt_customer, :updated_at, :prepend_text => "")
