= simple_form_for @sc_backend, :html => {:class=>'form-horizontal', :autocomplete=>"off", :id => "sc_backend_form"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@sc_backend, :base, :prepend_text => "")
  .form-main{:style=>"width: 100%;"}
    = f.hidden_field :lock_version
    = f.hidden_field :approved_id
    = f.hidden_field :approved_version
    .control-group
      = f.label :code, "*Code", :class => 'control-label'
      = f.text_field :code, :maxlength => 20, :readonly => true, :required => true
      #msg-error
        = error_message_for(@sc_backend, :code, :prepend_text => "")
    .control-group
      = f.label :do_auto_shutdown, "*Do Auto Shutdown?", :class => 'control-label'
      = f.check_box :do_auto_shutdown, {},"Y","N"
      #msg-error
        = error_message_for(@sc_backend, :do_auto_shutdown, :prepend_text => "")
    .control-group
      = f.label :max_consecutive_failures, "*Max Consecutive Failures", :class => 'control-label'
      = f.number_field :max_consecutive_failures, :min => 1, :step => 1, :required => true
      #msg-error
        = error_message_for(@sc_backend, :max_consecutive_failures, :prepend_text => "")
    .control-group
      = f.label :window_in_mins, "*Window In Mins", :class => 'control-label'
      = f.number_field :window_in_mins, :min => 1, :max => 60, :required => true
      #msg-error
        = error_message_for(@sc_backend, :window_in_mins, :prepend_text => "")
    .control-group
      = f.label :max_window_failures, "*Max Window Failures", :class => 'control-label'
      = f.number_field :max_window_failures, :min => 1, :step => 1, :required => true
      #msg-error
        = error_message_for(@sc_backend, :max_window_failures, :prepend_text => "")
    .control-group
      = f.label :do_auto_start, "*Do Auto Start?", :class => 'control-label'
      = f.check_box :do_auto_start, {},"Y","N"
      #msg-error
        = error_message_for(@sc_backend, :do_auto_start, :prepend_text => "")
    .control-group
      = f.label :min_consecutive_success, "*Min Consecutive Success", :class => 'control-label'
      = f.number_field :min_consecutive_success, :min => 1, :step => 1, :required => true
      #msg-error
        = error_message_for(@sc_backend, :min_consecutive_success, :prepend_text => "")
    .control-group
      = f.label :min_window_success, "*Min Window Success", :class => 'control-label'
      = f.number_field :min_window_success, :min => 1, :step => 1, :required => true
      #msg-error
        = error_message_for(@sc_backend, :min_window_success, :prepend_text => "")
    .control-group
      = f.label :alert_email_to, "Alert Email To", :class => 'control-label'
      = f.text_field :alert_email_to, :placeholder => "Enter Email IDs separated by ';'", :style => "width: 400px;"
      #msg-error
        = error_message_for(@sc_backend, :alert_email_to, :prepend_text => "")
  .form-actions
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_sc_backend', :value => 'Update SC Backend'
    = link_to :Cancel,'/sc_backends', :name => 'cancel', :class=>"cancel btn"

