.form-horizontal.show_form
  .form-main-with-color{:style=>'background-color: #F1F2F8; height: 662px;'}
    #form-details
      %h3 IMPS Transcations Details 
      %br
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @qg_ecol_todays_imps_txn
        %a.btn{:href => "#{!(can) ? '#' : '/qg_ecol_todays_imps_txns/' + @qg_ecol_todays_imps_txn.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit

      %table.table.no-border{:style=>"table-layout: fixed; width: 100%;"}
        - if !@qg_ecol_todays_imps_txn.nil?
          %tr
            %td.label Form Errors
            %td.value
              = ' '
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :base, :prepend_text => "")
          %tr
            %td.label RRN
            %td.value
              = @qg_ecol_todays_imps_txn.rrn
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rrn, :prepend_text => "")
          %tr
            %td.label Transfer Status
            %td.value
              = @qg_ecol_todays_imps_txn.transfer_status
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :transfer_status, :prepend_text => "")
          %tr
            %td.label Transfer Unique No
            %td.value
              = @qg_ecol_todays_imps_txn.transfer_unique_no
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :transfer_unique_no, :prepend_text => "")
          %tr
            %td.label Remitter Ref
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_ref
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_ref, :prepend_text => "")
          %tr
            %td.label Beneficiary Account IFSC
            %td.value
              = @qg_ecol_todays_imps_txn.bene_account_ifsc
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :bene_account_ifsc, :prepend_text => "")
          %tr
            %td.label Beneficiary Account No
            %td.value
              = @qg_ecol_todays_imps_txn.bene_account_no
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :bene_account_no, :prepend_text => "")
          %tr
            %td.label Beneficiary Account Type
            %td.value
              = @qg_ecol_todays_imps_txn.bene_account_type
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :bene_account_type, :prepend_text => "")
          %tr
            %td.label Remitter Account IFSC
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_account_ifsc
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_account_ifsc, :prepend_text => "")
          %tr
            %td.label Remitter Account No
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_account_no
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_account_no, :prepend_text => "")
          %tr
            %td.label Remitter Account Type
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_account_type
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_account_type, :prepend_text => "")
          %tr
            %td.label Transfer Amount
            %td.value
              = @qg_ecol_todays_imps_txn.transfer_amt
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :transfer_amt, :prepend_text => "")
          %tr
            %td.label Transfer Date
            %td.value
              = @qg_ecol_todays_imps_txn.transfer_date.try(:strftime, "%d/%m/%Y %I:%M%p")
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :transfer_date, :prepend_text => "")
          %tr
            %td.label Pool Account No.
            %td.value
              = @qg_ecol_todays_imps_txn.pool_account_no
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :pool_account_no, :prepend_text => "")
          %tr
            %td.label Remitter To Beneficiary Note
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_to_bene_note
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_to_bene_note, :prepend_text => "")
          %tr
            %td.label Remitter Full Name
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_full_name
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_full_name, :prepend_text => "")
          %tr
            %td.label Remitter Address
            %td.value
              = @qg_ecol_todays_imps_txn.rmtr_address
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :rmtr_address, :prepend_text => "")
          %tr
            %td.label Beneficiary Full Name
            %td.value
              = @qg_ecol_todays_imps_txn.bene_full_name
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :bene_full_name, :prepend_text => "")
          %tr
            %td.label Status
            %td.value
              = @qg_ecol_todays_imps_txn.status
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :status, :prepend_text => "")
          %tr
            %td.label Error Code
            %td.value
              = @qg_ecol_todays_imps_txn.error_code
            %td#msg-error
              = error_message_for(@qg_ecol_todays_imps_txn, :error_code, :prepend_text => "")
      = link_to 'Back to Todays IMPS Transcations', qg_ecol_todays_imps_txns_path
